=transition($transition)
  -webkit-transition: $transition
  -moz-transition: $transition
  -o-transition: $transition
  -ms-transition: $transition
  transition: $transition

=transform($transform)
  -webkit-transform: $transform
  -moz-transform: $transform
  -o-transform: $transform
  -ms-transform: $transform
  transform: $transform

=transform-origin($transform-origin)
  -webkit-transform-origin: $transform-origin
  -moz-transform-origin: $transform-origin
  -o-transform-origin: $transform-origin
  -ms-transform-origin: $transform-origin
  transform-origin: $transform-origin

=appearance($value)
  -webkit-appearance: $value
  -moz-appearance: $value
  appearance: $value

=user-select($value)
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

=linear-gradient($gradient, $fallback)
  background: $fallback
  background: linear-gradient($gradient)

=radial-gradient($gradient, $fallback)
  background: $fallback
  background: radial-gradient($gradient)

=bgrgba($color, $opacity)
  background-color: $color
  background-color: rgba($color, $opacity)
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity * 100})

=filter($filter)
  filter: $filter
  -webkit-filter: $filter

=zindex($number)
  z-index: $number * 100

=placeholder($color)
  &::-webkit-input-placeholder
    color: $color

  &::-moz-placeholder
    color: $color

  &:-moz-placeholder
    color: $color

  &:-ms-input-placeholder
    color: $color

=position($position: "static", $top: false, $left: false, $right: false, $bottom: false)
  position: $position

  @if $top
    top: $top

  @if $left
    left: $left

  @if $right
    right: $right

  @if $bottom
    bottom: $bottom

=overlay($position: fixed)
  width: 100%
  height: 100%
  +position($position, 0, 0)

=valign($position: middle)
  .valign
    display: inline-block
    vertical-align: $position

  &::after
    content: ""
    display: inline-block
    vertical-align: $position
    width: 0px
    height: 100%
    margin-left: -.25em

=circle($size)
  overflow: hidden
  width: $size
  height: $size
  border-radius: 50%

  img
    border-radius: 50%

=clearmarginfirst($side)
  &:first-of-type
    margin-#{$side}: 0

=clearmarginlast($side)
  &:last-of-type
    margin-#{$side}: 0

=hidetext
  text-indent: -9999px
  white-space: nowrap

=clearfix
  &::before, &::after
    content: ""
    display: table

  &::after
    clear: both

=justify
  text-align: justify

  &::after
    content: ""
    overflow: hidden
    visibility: hidden
    display: inline-block
    width: 100%
    height: 0

/**/

=bp($point, $type: "min", $dimension: "width")
  @if $type == "max"
    $point: $point - 1

  @media (#{$type}-#{$dimension}: $point)
    @content

/**/

=animation($animation)
  -webkit-animation: $animation
  -moz-animation: $animation
  -o-animation: $animation
  animation: $animation

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-o-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content