<div class="header-search-input filters popup-wrapper">
  <button type="button" class="button" data-popup-open="popup-filters">
      @@include("inc/icon.html", {"name": "common-filters"})
  </button>
  <div class="popup popup-filters host" data-popup="popup-filters">
      <div class="popup-content">
          <div class="popup-close">
              <script>
                $(function() {
                  $('.popup-filters *').on('change', function() {
                    $('.header-search-input > button').addClass('popup-filters__applied')
                  })
                  
                  $('.popup-filters-reset').on('click', function() {
                    $('.popup-filters *').val('').prop('checked', false)
                    $('.popup-filters .input-number input').val(0)
                    $('.popup-filters .input-checkbox').removeClass('checked')
                    $('.popup-filters .input-checkbox-icon').removeClass('checked')
                    $('.header-search-input > button').removeClass('popup-filters__applied')
                  })
                })
              </script>
              <a class="popup-filters-reset">Reset filters</a>
              <button type="button" class="button" data-popup-close="popup-filters">
                  @@include("inc/icon.html", {"name": "common-filters"})
              </button>
          </div>
          
          <div class="form-group-wrapper">
            <label class="form-group-label">Name</label>
            <div class="form-group name">
                <input type="text" name="name" class="form-control" required>
            </div>
          </div>
              
          <div class="form-group-row">
            <fieldset>
              <div class="form-group-wrapper">
                  <label class="form-group-label">Max. children</label>
                  <div class="form-group children">
                    <div class="input-number">
                      <input type="text" name="children" value="0" class="form-control">
                    </div>
                  </div>
              </div>
              
              <div class="form-group-wrapper">
                  <div class="form-group">
                      <label class="input-checkbox" data-input-checkbox="true">
                          <input type="checkbox" name="married">
                          <span>Married</span>
                      </label>
                  </div>
              </div>
            </fieldset>
            
            <fieldset>
                <div class="form-group-wrapper">
                  <div class="form-group">
                      <label class="input-checkbox" data-input-checkbox="true">
                          <input type="checkbox" name="smoking">
                          <span>Smoking acceptable</span>
                      </label>
                  </div>
                </div>
                
                <div class="form-group-wrapper">
                  <div class="form-group">
                      <label class="input-checkbox" data-input-checkbox="true">
                          <input type="checkbox" name="driving">
                          <span>With driving license</span>
                      </label>
                  </div>
                </div>
            </fieldset>
          </div>
          
          <div class="form-group-row">
            <fieldset>
              <div class="form-group-wrapper">
                  <label class="form-group-label u-bold">House</label>
                  <div class="form-group">
                      <label class="input-checkbox u-block" data-input-checkbox="true">
                          <input type="checkbox" name="house">
                          <span>Apartments</span>
                      </label>
                      <label class="input-checkbox u-block" data-input-checkbox="true">
                          <input type="checkbox" name="house">
                          <span>House</span>
                      </label>
                      <label class="input-checkbox u-block" data-input-checkbox="true">
                          <input type="checkbox" name="house">
                          <span>Other</span>
                      </label>
                  </div>
              </div>
              
              <div class="form-group-wrapper">
                  <div class="form-group">
                      <label class="input-checkbox" data-input-checkbox="true">
                          <input type="checkbox" name="room">
                          <span>Au pair will have a separate room</span>
                      </label>
                  </div>
              </div>
            </fieldset>
            
            <fieldset>
              <div class="form-group-wrapper">
                  <label class="form-group-label u-bold">Bed for au pair</label>
                  <div class="form-group">
                      <label class="input-checkbox u-block" data-input-checkbox="true">
                          <input type="checkbox" name="bed">
                          <span>Sofa</span>
                      </label>
                      <label class="input-checkbox u-block" data-input-checkbox="true">
                          <input type="checkbox" name="bed">
                          <span>Bed</span>
                      </label>
                      <label class="input-checkbox u-block" data-input-checkbox="true">
                          <input type="checkbox" name="bed">
                          <span>Couch</span>
                      </label>
                      <label class="input-checkbox u-block" data-input-checkbox="true">
                          <input type="checkbox" name="bed">
                          <span>Floor mattress</span>
                      </label>
                  </div>
              </div>
            </fieldset>
          </div>
          
          <div class="form-group-row form-group-row--labels">
            <fieldset>
              <div class="form-group-wrapper">
                  <label class="form-group-label u-bold">House amenities</label>
                  <div class="form-group">
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="essentials">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Essentials</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="shampoo">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Shampoo</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="drawers">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Closet/drawers</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="dryer">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Hair dryer</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="iron">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Iron</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="wifi">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Wi-Fi</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="desk">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Desk</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="conditioning">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Air conditioning</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="tv">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>TV</span>
                      </label>
                  </div>
              </div>
            </fieldset>
            
            <fieldset>
              <div class="form-group-wrapper">
                  <label class="form-group-label u-bold">Meals</label>
                  <div class="form-group">
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="breakfast">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Breakfast</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="dinner">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Dinner</span>
                      </label>
                      <label class="input-checkbox-icon" data-input-checkbox="true">
                          <input type="checkbox" name="supper">
                          @@include("inc/icon.html", {"name": "common-location"})
                          <span>Supper</span>
                      </label>
                  </div>
              </div>
            </fieldset>
          </div>
      </div>
  </div>
</div>