<script>
$(function() {
  var $component = $('.rating-select'),
      rating = 0
  
  $component.find('i').on('click', function() {
    rating = $(this).parent().children().index(this) + 1
    $component.find('[name="rating"]').val(rating)
    $component.find('i')
      .removeClass('star')
      .slice(0, rating)
      .addClass('star')
  })
  
  $component.find('i').hover(
    function() {
      console.log('hover')
      var hoverRating = $(this).parent().children().index(this) + 1
      $component.find('i')
        .removeClass('star')
        .slice(0, hoverRating)
        .addClass('star')
    },
    function() {
      $component.find('i')
        .removeClass('star')
        .slice(0, rating)
        .addClass('star')
    }
  )
})
</script>

<div class="message-rating">
    <div class="heading">
        @@if (reviews == '0') {
            No reviews yet
        }
        @@if (reviews > '0') {
            @@reviews reviews
        }
    </div>
    <div class="message-rating-stars">
        @@if (rating == '0') {
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        }
        @@if (rating == '1') {
            <i class="star"></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        }
        @@if (rating == '2') {
            <i class="star"></i>
            <i class="star"></i>
            <i></i>
            <i></i>
            <i></i>
        }
        @@if (rating == '3') {
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i></i>
            <i></i>
        }
        @@if (rating == '4') {
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i></i>
        }
        @@if (rating == '5') {
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
        }
    </div>
</div>