@@include("part/header-notlogged.html", {"title": "404", "page": "notfound"})

<div class="section-notfound-main">
    <div class="container">
        <h1 class="heading heading-first h1">
            <span class="notfound">404</span>
        </h1>
        <div class="heading heading-second">
            Nothing here, sorry
        </div>
    </div>
</div>

@@include("part/footer.html")