@@include("part/header-logged-host.html", {"title": "Availability calendar", "page": "account"})

<div class="section-account-calendar">
    <div class="container">
        <h1 class="heading h1">
            Availability calendar
        </h1>
        <div class="message-strong">
            Please mark when you’re ready to host an au pair.
        </div>
        <div class="account-calendar" data-calendar="true">
            <div class="account-calendar-actions">
                <span class="link" data-calendar-mark="true">Mark all</span>
                <span class="link" data-calendar-unmark="true">Unmark all</span>
            </div>
            <div class="account-calendar-boxes">
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>May</span>
                </label>
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>June</span>
                </label>
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>July</span>
                </label>
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Aug</span>
                </label>
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Sep</span>
                </label>
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Oct</span>
                </label>
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Nov</span>
                </label>
                <label class="input-checkbox vertical" data-year="2017" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Dec</span>
                </label>
                <label class="input-checkbox vertical" data-year="2018" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Jan</span>
                </label>
                <label class="input-checkbox vertical" data-year="2018" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Feb</span>
                </label>
                <label class="input-checkbox vertical" data-year="2018" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Mar</span>
                </label>
                <label class="input-checkbox vertical" data-year="2018" data-input-checkbox="true">
                    <input type="checkbox">
                    <span>Apr</span>
                </label>
            </div>
        </div>
        <div class="message-footer">
            <label class="input-checkbox-toggler" data-input-checkbox="true">
                <input type="checkbox" name="allow">
                <span>I’d like to receive requests from au pairs</span>
            </label>
        </div>
    </div>
</div>

@@include("part/footer.html")