@@include("part/header-logged-aupair.html", {"title": "Inbox", "page": "inbox"})

<div class="section-inbox-content">
    <div class="container">
        <div id="inbox-content" class="inbox-content-wrapper">
            <div id="inbox-content-list" class="inbox-content-list hidden">
                @@include("part/inbox-list.html")
            </div>
            <div id="inbox-content-message" class="inbox-content-message active">
                @@include("part/inbox-message.html")
            </div>
        </div>
    </div>
</div>

@@include("part/footer-inbox.html")