@@include("part/header-home.html", {"title": "Home", "page": "home"})

<div class="section-home-search">
    <div class="container">
        <h1 class="heading heading-first h1">
            Start your Au pair adventure here
        </h1>
        <div class="home-search-wrapper">
            <div class="home-search-block">
                <h2 class="heading h2">
                    Search for au pair
                </h2>
                <form id="form-search-pair" action="search-aupair.html" class="form">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control transparent autocomplete" placeholder="Any location">
                    </div>
                    <button type="submit" class="button button-primary">Search</button>
                </form>
            </div>
            <div class="home-search-block">
                <h2 class="heading h2">
                    Search for host family
                </h2>
                <form id="form-search-family" action="search-host.html" class="form">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control transparent autocomplete" placeholder="Any location">
                    </div>
                    <button type="submit" class="button button-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

@@include("part/footer.html")