@@include("part/header-logged-aupair.html", {"title": "Au pair profile", "page": "account"})

<div class="container">
    <div class="section-account-profile">
        <div class="account-profile-image">
            <img src="userdata/profile-man1.jpg" alt="John Clarke">
        </div>
        <div class="account-profile-heading">
            <h1 class="heading h1">
                Jessie Hunter
            </h1>
            <a href="#" class="link link-icon">
                @@include("inc/icon.html", {"name": "common-mail"})
            </a>
            <div class="heading-sub">
                Au pair, 25
            </div>
        </div>
        <div class="account-profile-meta">
            <div class="column-location">
                @@include("inc/icon.html", {"name": "common-location"})
                London, UK
            </div>
            <div class="column-social">
                <a href="#" rel="nofollow" target="_blank" class="link link-icon" title="Facebook">
                    @@include("inc/icon.html", {"name": "social-facebook"})
                </a>
                <a href="#" rel="nofollow" target="_blank" class="link link-icon" title="Twitter">
                    @@include("inc/icon.html", {"name": "social-twitter"})
                </a>
                <a href="#" rel="nofollow" target="_blank" class="link link-icon" title="Instagram">
                    @@include("inc/icon.html", {"name": "social-instagram"})
                </a>
            </div>
            <div class="column-center"></div>
        </div>
        <div class="account-profile-desc">
            I’m 29 years old and have a small baby who I love. Me and my husband are looking for some qualified person to help us with Joey and daily chores. We live in a beautiful part of London with a park and a lake nearby. Joey goes to kindergarten in June, so bringing him in and out is one of the main duties for au pair.
        </div>
        <div class="account-profile-misc">
            <div class="column-main">
                <div class="account-profile-misc-item">
                    <div class="heading h4">
                        Expectations
                    </div>
                    <p>
                        We are looking for someone around 20-25 y.o. with good attitude to kids. We prefer that it would a gir.l, but this is not mandatory. We are looking for a punctual and smart person with at least few years of experience with kids.
                    </p>
                </div>
                <div class="account-profile-misc-item">
                    <div class="heading h4">
                        Au pair duties
                    </div>
                    <p>
                        Sit with Joey while we are at work, help with daily chores and home routines. Joey goes to kindergarten this summer, so we need someone who can get him in and out.
                    </p>
                </div>
            </div>
            <div class="column-side">
                <div class="account-profile-misc-item">
                    <div class="heading h4">
                        Au pair preferences
                    </div>
                    <p>
                        Non-smoking<br>
                        Male<br>
                        From UK
                    </p>
                </div>
            </div>
        </div>
        <div class="account-profile-gallery">
            <div class="heading">
                Jessie’s life in photos
            </div>
            <div class="column-gallery">
                <div id="carousel-profile-gallery">
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                </div>
                <a href="userdata/profile-gallery1.jpg" class="button button-primary" data-lightbox="profile-gallery">View photos</a>
            </div>
        </div>
        <div class="account-profile-reviews empty">
            <div class="column-meta">
                @@include("inc/rating.html", {"reviews": "0", "rating": "0"})
            </div>
            
            <div class="column-main">
                <div class="submit-review-container">
                  <form action="#" class="form" onsubmit="return false">
                      <div class="form-group">
                          <label>Rate your experience with host</label>
                          <div class="rating-select">
                            <input type="hidden" name="rating">
                            @@include("inc/rating.html", {"reviews": "0", "rating": "0", "select": true})
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Tell about your experience</label>
                          <textarea name="review" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                          <label>Days of stay</label>
                          <div class="input-number">
                              <input type="text" name="days" value="1" class="form-control">
                          </div>
                      </div>
                      <div class="form-submit">
                          <button type="submit" class="button button-primary">Send</button>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

@@include("part/footer.html")