@@include("part/header-logged-host.html", {"title": "Host profile", "page": "account"})

<div class="container">
    <div class="section-account-profile section-account-profile-full-width">
        <div class="account-profile-image dropzone dropzone-avatar-card account-profile-image-empty">
            <img id="dropzone-avatar-card-preview" alt="John Clarke" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
            <div id="dropzone-avatar-card" class="dropzone-input dz-max-files-reached">
                <span class="dz-message"><span>Select</span> or drag photo here</span>
            </div>
        </div>
        <div class="account-profile-heading">
            <h1 class="heading h1">
                John Clarke
            </h1>
        </div>
        <div class="tabs-controls">
          <a class="tabs-control active" data-tab-toggle="general">General</a>
          <a class="tabs-control" data-tab-toggle="au-pair">Au pairs</a>
          <a class="tabs-control" data-tab-toggle="security">Security</a>
          <a class="tabs-control" data-tab-toggle="photos">Photos</a>
          <a class="tabs-control" data-tab-toggle="reviews">Reviews</a>
        </div>
          
        <div class="tabs-contents">
          <div class="tabs-content active" data-tab="general">
            @@include("part/profile-host-general.html")
          </div>
          <div class="tabs-content" data-tab="au-pair">
            @@include("part/profile-host-au-pair.html")
          </div>
          <div class="tabs-content" data-tab="security">
            @@include("part/profile-host-security.html")
          </div>
          <div class="tabs-content" data-tab="photos">
            @@include("part/profile-host-photos.html")
          </div>
          <div class="tabs-content" data-tab="reviews">
            @@include("part/profile-host-reviews.html")
          </div>
        </div>
    </div>
</div>

@@include("part/footer.html")