@@include("part/header-logged-host.html", {"title": "Host member profile", "page": "account"})

<div class="container">
    <div class="section-account-profile">
        <div class="account-profile-image">
            <img src="userdata/profile-man1.jpg" alt="John Clarke">
        </div>
        <div class="account-profile-heading">
            <h1 class="heading h1">
                John Clarke
            </h1>
            <a href="#" class="link link-icon">
                @@include("inc/icon.html", {"name": "common-mail"})
            </a>
            <div class="heading-sub">
                Host, married, 1 child
            </div>
        </div>
        <div class="account-profile-meta host">
            <div class="column-location">
                @@include("inc/icon.html", {"name": "common-location"})
                London, UK
            </div>
            <div class="column-social">
                <a href="#" rel="nofollow" target="_blank" class="link link-icon" title="Facebook">
                    @@include("inc/icon.html", {"name": "social-facebook"})
                </a>
                <a href="#" rel="nofollow" target="_blank" class="link link-icon" title="Twitter">
                    @@include("inc/icon.html", {"name": "social-twitter"})
                </a>
                <a href="#" rel="nofollow" target="_blank" class="link link-icon" title="Instagram">
                    @@include("inc/icon.html", {"name": "social-instagram"})
                </a>
            </div>
            <div class="column-center popup-wrapper">
                <script>
                  $(function() {
                    // Показываем попап для #request.
                    if (window.location.hash == '#request') {
                      $('[data-popup-open="popup-request1"]').trigger('click')
                    }
                  })
                </script>
                <button class="button button-primary" data-popup-open="popup-request1">Request stay</button>
                <div class="popup popup-datepicker popup-request" data-popup="popup-request1">
                    <div class="popup-content">
                        <div class="popup-header">
                            <div class="heading">
                                Request stay
                            </div>
                        </div>
                        <form action="inbox.html" class="form">
                          <div class="form-group-row">
                              <div class="form-group-wrapper">
                                  <label class="form-group-label">Expected arrival date</label>
                                  <div class="form-group">
                                    <input
                                      data-mask="date"
                                      type="text"
                                      name="date"
                                      class="form-control"
                                      placeholder="MM/DD/YYYY"
                                      required="">
                                  </div>
                              </div>
                              
                              <div class="form-group-wrapper">
                                  <label class="form-group-label">Desired stay duration</label>
                                  <div class="form-group">
                                    <input type="text" name="duration" class="form-control" required="">
                                  </div>
                              </div>
                          </div>
                          
                            <div class="form-group">
                                <label>Message to host</label>
                                <textarea name="message" class="form-control"></textarea>
                            </div>
                            <div class="form-submit">
                                <button type="submit" class="popup-button button button-primary">Leave request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="account-profile-desc">
            I’m a human being. I love dogs. I care about our planet. Love children and learning new cultures. I’ve been an pair four times already and looking for opportunities in different countries.
        </div>
        <div class="account-profile-misc">
            <div class="column-main">
                <div class="account-profile-misc-item">
                    <div class="heading h4">
                        Expectations
                    </div>
                    <p>
                        We are looking for someone around 20-25 y.o. with good attitude to kids. We prefer that it would a gir.l, but this is not mandatory. We are looking for a punctual and smart person with at least few years of experience with kids.
                    </p>
                </div>
                <div class="account-profile-misc-item">
                    <div class="heading h4">
                        Au pair duties
                    </div>
                    <p>
                        Sit with Joey while we are at work, help with daily chores and home routines. Joey goes to kindergarten this summer, so we need someone who can get him in and out.
                    </p>
                </div>
            </div>
            <div class="column-side">
                <div class="account-profile-misc-item">
                    <div class="heading h4">
                        Au pair preferences
                    </div>
                    <p>
                        Non-smoking<br>
                        Male<br>
                        From UK
                    </p>
                </div>
            </div>
        </div>
        <div class="account-profile-amentities">
            <div class="account-profile-amentities-item">
                <div class="heading">
                    House amentities
                </div>
                <span>Essentials</span>
                <span>WiFi</span>
                <span>Drawer</span>
                <span>TV</span>
                <span>Desk</span>
                <span>Hair dryer</span>
                <span>Air conditioning</span>
            </div>
            <div class="account-profile-amentities-item">
                <div class="heading">
                    Bedroom
                </div>
                <span>Separate room</span>
                <span>Bed</span>
            </div>
            <div class="account-profile-amentities-item">
                <div class="heading">
                    Food
                </div>
                <span>Breakfast</span>
                <span>Dinner</span>
                <span>Supper</span>
            </div>
        </div>
        <div class="account-profile-gallery">
            <div class="heading">
                John’s life in photos
            </div>
            <div class="column-gallery">
                <div id="carousel-profile-gallery">
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                    <a href="userdata/profile-gallery1.jpg" data-lightbox="profile-gallery" class="link-image">
                        <img src="userdata/profile-gallery1.jpg" alt="">
                    </a>
                </div>
                <a href="userdata/profile-gallery1.jpg" class="button button-primary" data-lightbox="profile-gallery">View photos</a>
            </div>
        </div>
        <div class="account-profile-reviews">
            <div class="column-meta">
                <a class="link-no-style" href="profile-host.html">@@include("inc/rating.html", {"reviews": "4567", "rating": "4"})</a>
                <button href="#submit-review-container" class="button button-secondary reviews-button scrollto">Leave review</button>
            </div>
            <div class="column-main">
                <div class="list-reviews" data-text-cut="80">
                    <div class="list-item">
                        <div class="list-item-image">
                            <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-name">
                                <a href="profile-member-aupair.html">Jake Woodrow</a>
                            </div>
                            <div class="list-item-meta">
                                Stayed for 60 days
                            </div>
                            <div class="list-item-text">
                                John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                            </div>
                            <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-image">
                            <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-name">
                                <a href="profile-aupair.html">Jake Woodrow</a>
                            </div>
                            <div class="list-item-meta">
                                Stayed for 60 days
                            </div>
                            <div class="list-item-text">
                                John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                            </div>
                            <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-image">
                            <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-name">
                                <a href="profile-aupair.html">Jake Woodrow</a>
                            </div>
                            <div class="list-item-meta">
                                Stayed for 60 days
                            </div>
                            <div class="list-item-text">
                                John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                            </div>
                            <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-item-image">
                            <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-name">
                                <a href="profile-aupair.html">Jake Woodrow</a>
                            </div>
                            <div class="list-item-meta">
                                Stayed for 60 days
                            </div>
                            <div class="list-item-text">
                                John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                            </div>
                            <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                        </div>
                    </div>
                </div>
                
                <div id="submit-review-container" class="submit-review-container">
                  <form action="#" class="form" onsubmit="return false">
                      <div class="form-group">
                          <label>Rate your experience with host</label>
                          <div class="rating-select">
                            <input type="hidden" name="rating">
                            @@include("inc/rating.html", {"reviews": "0", "rating": "0", "select": true})
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Tell about your experience</label>
                          <textarea name="review" class="form-control"> </textarea>
                      </div>
                      <div class="form-group">
                          <label>Days of stay</label>
                          <div class="input-number">
                              <input type="text" name="days" value="1" class="form-control">
                          </div>
                      </div>
                      <div class="form-submit">
                          <button type="submit" class="button button-primary">Send</button>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>

@@include("part/footer.html")