@@include("part/header-logged-host.html", {"title": "Available au pairs", "page": "search"})

<div class="section-search-list">
    <div class="container">
        <h1 class="heading h1">
            Available au&nbsp;pairs
        </h1>
        <div class="list list-search">
            <div class="list-item">
                <div class="list-item-image">
                    <div class="carousel-search-image">
                        <img src="userdata/man1.jpg" alt="John Clarke">
                        <img src="userdata/man2.jpg" alt="John Clarke">
                    </div>
                </div>
                <div class="list-item-content">
                    <div class="list-item-meta">
                        <a class="link-no-style" href="profile-member-aupair.html">@@include("inc/rating.html", {"reviews": "87", "rating": "5"})</a>
                    </div>
                    <div class="list-item-name h2">
                        <a href="inbox.html" class="link-icon">
                            @@include("inc/icon.html", {"name": "common-mail"})
                        </a>
                        <a href="profile-member-aupair.html" class="link-icon">
                            <span>John Clarke</span>
                            @@include("inc/icon.html", {"name": "arrow-forward"})
                        </a>
                    </div>
                    <div class="account-profile-desc">
                        I’m a human being. I love dogs. I care about our planet. Love children and learning new cultures. I’ve been an pair four times already and looking for opportunities in different countries.
                    </div>
                    <div class="account-profile-misc">
                        <div class="column-main">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Expectations
                                </div>
                                <p>
                                    I’m looking for a family with one or two children to look after. Keen about French language and learning cultures of different countries. Have a little requirements.
                                </p>
                            </div>
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Child care experience
                                </div>
                                <p>
                                    I worked in a hospital in Romania helping poor kids with disabilties. I also have a little brother and sister. I worked as a cook for three years, so I can tech this too.
                                </p>
                            </div>
                        </div>
                        <div class="column-side">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Languages
                                </div>
                                <p>
                                    English — native<br>
                                    French — intermediate
                                </p>
                            </div>
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Other
                                </div>
                                <p>
                                    Non-smoking<br>
                                    Have driving license
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-image">
                    <div class="carousel-search-image">
                        <img src="userdata/man1.jpg" alt="John Clarke">
                        <img src="userdata/man2.jpg" alt="John Clarke">
                    </div>
                </div>
                <div class="list-item-content">
                    <div class="list-item-meta">
                        <a class="link-no-style" href="profile-member-aupair.html">@@include("inc/rating.html", {"reviews": "87", "rating": "5"})</a>
                    </div>
                    <div class="list-item-name h2">
                        <a href="inbox.html" class="link-icon">
                            @@include("inc/icon.html", {"name": "common-mail"})
                        </a>
                        <a href="profile-member-aupair.html" class="link-icon">
                            <span>John Clarke</span>
                            @@include("inc/icon.html", {"name": "arrow-forward"})
                        </a>
                    </div>
                    <div class="account-profile-desc">
                        I’m a human being. I love dogs. I care about our planet. Love children and learning new cultures. I’ve been an pair four times already and looking for opportunities in different countries.
                    </div>
                    <div class="account-profile-misc">
                        <div class="column-main">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Expectations
                                </div>
                                <p>
                                    I’m looking for a family with one or two children to look after. Keen about French language and learning cultures of different countries. Have a little requirements.
                                </p>
                            </div>
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Child care experience
                                </div>
                                <p>
                                    I worked in a hospital in Romania helping poor kids with disabilties. I also have a little brother and sister. I worked as a cook for three years, so I can tech this too.
                                </p>
                            </div>
                        </div>
                        <div class="column-side">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Languages
                                </div>
                                <p>
                                    English — native<br>
                                    French — intermediate
                                </p>
                            </div>
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Other
                                </div>
                                <p>
                                    Non-smoking<br>
                                    Have driving license
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-search-more">
            <button class="button button-secondary" data-search-loading="1">More au pairs</button>
        </div>
    </div>
</div>

@@include("part/footer.html")