@@include("part/header-notlogged.html", {"title": "No hosts found", "page": "search"})

<div class="section-search-notfound">
    <div class="container">
        <h1 class="heading heading-first h1">
            We found <span class="zero">0</span> available hosts, sorry :(
        </h1>
        <div class="heading heading-second h2">
            Maybe try search<br>
            for another dates or locations?
        </div>
    </div>
</div>

@@include("part/footer.html")