@@include("part/header-notlogged.html", {"title": "Available hosts", "page": "search"})

<div class="section-search-list">
    <div class="container">
        <h1 class="heading h1">
            Available hosts
        </h1>
        <div class="list list-search">
            <div class="list-item">
                <div class="list-item-image">
                    <div class="carousel-search-image">
                        <img src="userdata/pair1.jpg" alt="Jake Smith">
                        <img src="userdata/pair2.jpg" alt="Jake Smith">
                    </div>
                    <div class="popup-wrapper">
                        <a href="profile-member-host.html#request" class="button button-primary list-item-button">Request stay</a>
                    </div>
                </div>
                <div class="list-item-content">
                    <div class="list-item-meta">
                      <a class="link-no-style" href="profile-member-host.html">@@include("inc/rating.html", {"reviews": "4567", "rating": "4"})</a>
                    </div>
                    <div class="list-item-name h2">
                        <a href="profile-member-host.html" class="link-icon">
                            <span>Jake Smith</span>
                            @@include("inc/icon.html", {"name": "arrow-forward"})
                        </a>
                    </div>
                    <div class="account-profile-desc">
                        We are married couple from Boston. We are 34 and 29 years old. We have a small son Joey who we love.
                    </div>
                    <div class="account-profile-misc">
                        <div class="column-main">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Expectations
                                </div>
                                <p>
                                    We are looking for someone around 20-25 y.o. with good attitude to kids. We prefer that it would a gir.l, but this is not mandatory. We are looking for a punctual and smart person with at least few years of experience with kids.
                                </p>
                            </div>
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Au pair duties
                                </div>
                                <p>
                                    Sit with Joey while we are at work, help with daily chores and home routines. Joey goes to kindergarten this summer, so we need someone who can get him in and out.
                                </p>
                            </div>
                        </div>
                        <div class="column-side">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Au pair preferences
                                </div>
                                <p>
                                    Non-smoking<br>
                                    Male<br>
                                    From UK
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-image">
                    <div class="carousel-search-image">
                        <img src="userdata/pair1.jpg" alt="Jake Smith">
                        <img src="userdata/pair2.jpg" alt="Jake Smith">
                    </div>
                    <div class="popup-wrapper">
                        <button class="button button-primary list-item-button" data-popup-open="popup-request2">Request stay</button>
                        <div class="popup popup-datepicker popup-request" data-popup="popup-request2">
                            <div class="popup-content">
                                <div class="popup-header">
                                    <div class="heading">
                                        Request stay
                                    </div>
                                    <div class="date">
                                        From
                                        <span data-datepicker-request2-from-text></span>
                                    </div>
                                    <div class="date">
                                        To
                                        <span data-datepicker-request2-to-text></span>
                                    </div>
                                </div>
                                <div class="datepicker datepicker-from datepicker-request-from" data-id="2"></div>
                                <div class="datepicker datepicker-to datepicker-request-to" data-id="2"></div>
                                <form action="inbox.html" class="form">
                                    <input type="hidden" name="date-from" data-datepicker-request2-from-input>
                                    <input type="hidden" name="date-to" data-datepicker-request2-to-input>
                                    <div class="form-group">
                                        <label>Message to host</label>
                                        <textarea name="message" class="form-control"></textarea>
                                    </div>
                                    <div class="form-submit">
                                        <button type="submit" class="popup-button button button-primary">Leave request</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-item-content">
                    <div class="list-item-meta">
                      <a class="link-no-style" href="profile-member-host.html">@@include("inc/rating.html", {"reviews": "4567", "rating": "4"})</a>
                    </div>
                    <div class="list-item-name h2">
                        <a href="profile-member-host.html" class="link-icon">
                            <span>Jake Smith</span>
                            @@include("inc/icon.html", {"name": "arrow-forward"})
                        </a>
                    </div>
                    <div class="account-profile-desc">
                        We are married couple from Boston. We are 34 and 29 years old. We have a small son Joey who we love.
                    </div>
                    <div class="account-profile-misc">
                        <div class="column-main">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Expectations
                                </div>
                                <p>
                                    We are looking for someone around 20-25 y.o. with good attitude to kids. We prefer that it would a gir.l, but this is not mandatory. We are looking for a punctual and smart person with at least few years of experience with kids.
                                </p>
                            </div>
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Au pair duties
                                </div>
                                <p>
                                    Sit with Joey while we are at work, help with daily chores and home routines. Joey goes to kindergarten this summer, so we need someone who can get him in and out.
                                </p>
                            </div>
                        </div>
                        <div class="column-side">
                            <div class="account-profile-misc-item">
                                <div class="heading h4">
                                    Au pair preferences
                                </div>
                                <p>
                                    Non-smoking<br>
                                    Male<br>
                                    From UK
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-search-more" style="display: none">
            <button class="button button-secondary" data-search-loading="1">More hosts</button>
        </div>
    </div>
</div>

@@include("part/footer.html")