@@include("part/header-logged-aupair.html", {"title": "Create account. Success", "page": "signup"})

<div class="section-signup-success">
    <div class="container">
        <h1 class="heading h1">
            You’re set!
        </h1>
        <div class="message-strong">
            Now your profile is visible to hosts via search.<br>
            We recommend to fill <a>your profile</a> with as much info as possible, so hosts could get to know you more. Good luck!
        </div>
    </div>
</div>

@@include("part/footer.html")