@@include("part/header-logged-host.html", {"title": "Create account. Success", "page": "signup"})

<div class="section-signup-success">
    <div class="container">
        <h1 class="heading h1">
            You’re set!
        </h1>
        <div class="message-strong">
            Now your profile is visible to au pairs via search.<br>
            Set up your availability calendar and begin receiving requests. Good luck!
        </div>
        <div class="message-footer">
            <a href="host-calendar.html">Go to availability calendar</a>
        </div>
    </div>
</div>

@@include("part/footer.html")