@@include("part/header-signup.html", {"title": "Create account. Photos", "page": "signup"})

<div class="section-signup-form">
    <div class="container">
        <form id="form-signup-host-step4" action="signup-host-success.html" class="form">
            <div class="heading-pre">
                Step 4 of 4
            </div>
            <h1 class="heading h2">
                Show your au pair what your space looks like
            </h1>
            <div class="form-group dropzone dropzone-gallery-form">
                <div id="dropzone-gallery-form-preview" class="dropzone-previews"></div>
                <div id="dropzone-gallery-form" class="dropzone-input">
                    <span class="dz-message"><span>Select</span> or drag photos here</span>
                </div>
            </div>
            <div class="form-group-wrapper no-wrap last">
                <a href="signup-host-step3.html" class="link-icon form-group-label">
                    @@include("inc/icon.html", {"name": "arrow-back"})
                    <span>Back</span>
                </a>
                <div class="form-group">
                    <button type="submit" class="button button-primary">Finish</button>
                </div>
            </div>
        </form>
    </div>
</div>

@@include("part/footer.html")