@@include("part/header-signup.html", {"title": "Sign in", "page": "signup"})

<div class="section-signup-main">
    <div class="container">
        <form id="form-signin" action="profile-host.html" class="form">
            <h1 class="heading h2">
                Sign in
            </h1>
            <div class="form-group">
                <input type="text" name="email" class="form-control transparent" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control transparent" placeholder="Password" required>
            </div>
            <div class="form-submit first">
                <button type="submit" class="button button-primary">Sign in</button>
            </div>
            <p class="first">
                Or
            </p>
            <div class="form-submit">
                <a href="#" class="button button-primary blue">Sign in with Facebook</a>
            </div>
            <div class="form-submit">
                <a href="#" class="button button-primary red">Sign in with Google</a>
            </div>
        </form>
    </div>
</div>

@@include("part/footer.html")