@@include("part/header-signup.html", {"title": "Create account", "page": "signup"})

<div class="section-signup-main">
    <div class="container">
        <form id="form-signup-aupair-step1" action="signup-aupair-step2.html" class="form">
            <div class="heading-pre">
                Step 1 of 2
            </div>
            <h1 class="heading h2">
                Create account
            </h1>
            <div class="form-group">
                <input type="text" name="email" class="form-control transparent" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="text" name="firstname" class="form-control transparent" placeholder="First name" required>
            </div>
            <div class="form-group">
                <input type="text" name="lastname" class="form-control transparent" placeholder="Last name" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control transparent" placeholder="Password" required>
            </div>
            <div class="form-submit first">
                <button type="submit" class="button button-primary">Sign up</button>
            </div>
            <p class="first">
                Or
            </p>
            <div class="form-submit">
                <a href="#" class="button button-primary blue">Sign up with Facebook</a>
            </div>
            <div class="form-submit">
                <a href="#" class="button button-primary red">Sign up with Google</a>
            </div>
            <p>
                By clicking Sign up I agree to the website <a href="#">terms and conditions</a>
            </p>
        </form>
    </div>
</div>

@@include("part/footer.html")