@@include("part/header-signup.html", {"title": "Create account. Ideal", "page": "signup"})

<div class="section-signup-form">
    <div class="container">
        <form id="form-signup-host-step2" action="signup-host-step3.html" class="form">
            <div class="heading-pre">
                Step 2 of 4
            </div>
            <h1 class="heading h2">
                What’s your ideal au pair?
            </h1>
            <fieldset>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Country</label>
                    <div class="form-group">
                        <select name="country" class="form-control">
                            <option value="0">Any</option>
                            <option value="1">Russia</option>
                            <option value="2">USA</option>
                            <option value="3">France</option>
                            <option value="4">Germany</option>
                            <option value="5">UK</option>
                            <option value="6">Australia</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Sex</label>
                    <div class="form-group">
                        <label class="input-radio" data-input-radio="true">
                            <input type="radio" name="sex" checked>
                            <span>Any</span>
                        </label>
                        <label class="input-radio" data-input-radio="true">
                            <input type="radio" name="sex">
                            <span>Male</span>
                        </label>
                        <label class="input-radio" data-input-radio="true">
                            <input type="radio" name="sex">
                            <span>Female</span>
                        </label>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Age</label>
                    <div class="form-group age">
                        <input type="text" placeholder="From" name="ageFrom" class="form-control" required>
                        <span class="delimeter">—</span>
                        <input type="text" placeholder="To" name="ageTo" class="form-control" required>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Your expectations</label>
                    <div class="form-group">
                        <textarea name="expectations" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Au pair duties</label>
                    <div class="form-group">
                        <textarea name="duties" class="form-control"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group-wrapper">
                    <div class="form-group">
                        <label class="input-checkbox" data-input-checkbox="true">
                            <input type="checkbox" name="smoking">
                            <span>Smoking acceptable</span>
                        </label>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="form-group">
                        <label class="input-checkbox" data-input-checkbox="true">
                            <input type="checkbox" name="driver">
                            <span>Driving license required</span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="form-group-wrapper no-wrap last">
                <a href="signup-host-step1.html" class="link-icon form-group-label">
                    @@include("inc/icon.html", {"name": "arrow-back"})
                    <span>Back</span>
                </a>
                <div class="form-group">
                    <button type="submit" class="button button-primary">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>

@@include("part/footer.html")