@@include("part/header-signup.html", {"title": "Create account. Details", "page": "signup"})

<div class="section-signup-form">
    <div class="container">
        <form id="form-signup-aupair-step2" action="signup-aupair-success.html" class="form">
            <div class="heading-pre">
                Step 2 of 2
            </div>
            <h1 class="heading h2">
                Please give us some details about yourself
            </h1>
            <fieldset>
                <div class="form-group-wrapper">
                    <label class="form-group-label form-group-label-textarea">Your profile photo</label>
                    <div class="form-group dropzone dropzone-avatar-form">
                        <div id="dropzone-avatar-form-preview" class="dropzone-previews"></div>
                        <div id="dropzone-avatar-form" class="dropzone-input">
                            <span class="dz-message"><span>Select</span> or drag photos here</span>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Where you live</label>
                    <div class="form-group location">
                        <input type="text" name="location" class="form-control autocomplete" required>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Date of birth</label>
                    <div class="form-group birth">
                        <input
                          type="text"
                          data-mask="birth"
                          placeholder="MM/DD/YYYY"
                          name="dateOfBirth"
                          class="form-control"
                          required>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Sex</label>
                    <div class="form-group">
                        <label class="input-radio" data-input-radio="true">
                            <input type="radio" name="sex" checked>
                            <span>Male</span>
                        </label>
                        <label class="input-radio" data-input-radio="true">
                            <input type="radio" name="sex">
                            <span>Female</span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Let your future family learn more about you</label>
                    <div class="form-group">
                        <textarea name="about" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Tell about your expectations</label>
                    <div class="form-group">
                        <textarea name="expectations" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Child care experience</label>
                    <div class="form-group">
                        <textarea name="experience" class="form-control"></textarea>
                    </div>
                </div>
              </fieldset>
              <fieldset>
                <div class="form-group-wrapper">
                    <label class="form-group-label">Languages</label>
                    <div class="form-group">
                      <div class="form-language-row">
                        <div class="form-language-name">
                          <input type="text" name="language" class="form-control" value="English" required>
                        </div>
                        
                        <div class="form-language-level">
                          <select>
                            <option>Native</option>
                            <option>Basic</option>
                            <option>Intermediate</option>
                            <option>Upper intermediate</option>
                            <option>Proficient</option>
                          </select>
                        </div>
                      </div>
                      
                      <a class="form-language-add">
                        <svg class="icon icon-common-plus"><use xlink:href="img/icons.svg#common-plus"></use></svg>
                      </a>
                      <script>
                        var newRowHTML = $('.form-language-row')[0].outerHTML
                      
                        !(function() {
                          $('.form-language-add').on('click', function() {
                            var $wrapper = $(this).closest('.form-group'),
                                $newRow = $(newRowHTML)
                            
                            $newRow.find('.form-language-name input').val('')
                            $newRow.find('.form-language-level select')[0].selectedIndex = 1
                            $wrapper.append($newRow)
                            
                            $("select").select2({
                              minimumResultsForSearch: -1,
                            });
                          })
                        })()
                      </script>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group-wrapper">
                    <div class="form-group">
                        <label class="input-checkbox" data-input-checkbox="true">
                            <input type="checkbox" name="smoking">
                            <span>I smoke</span>
                        </label>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="form-group">
                        <label class="input-checkbox" data-input-checkbox="true">
                            <input type="checkbox" name="driver">
                            <span>I have driving license</span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="fieldset-social">
                <div class="form-group-wrapper">
                    <div class="form-group form-group-icon social">
                        @@include("inc/icon.html", {"name": "social-facebook"})
                        <input type="text" name="facebook" class="form-control">
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="form-group form-group-icon social">
                        @@include("inc/icon.html", {"name": "social-twitter"})
                        <input type="text" name="twitter" class="form-control">
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="form-group form-group-icon social">
                        @@include("inc/icon.html", {"name": "social-instagram"})
                        <input type="text" name="instagram" class="form-control">
                    </div>
                </div>
            </fieldset>
            <div class="form-group-wrapper no-wrap last">
                <a href="signup-aupair-step1.html" class="link-icon form-group-label">
                    @@include("inc/icon.html", {"name": "arrow-back"})
                    <span>Back</span>
                </a>
                <div class="form-group no-wrap">
                    <button type="submit" class="button button-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

@@include("part/footer.html")