*,
*:before,
*:after
  box-sizing: border-box

html,
body
  height: 100%

body
  overflow-y: scroll
  background-color: #ffffff
  color: $color-text
  font-family: $font1
  font-size: $font-size
  font-weight: 300
  line-height: $line-height
  min-height: 900px

  &.modal-open
    overflow: hidden