@font-face
  font-family: "Futura PT"
  src: url("#{$fonts}FuturaPT-Book.eot")
  src: url("#{$fonts}FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("#{$fonts}FuturaPT-Book.woff2") format("woff2"), url("#{$fonts}FuturaPT-Book.woff") format("woff"), url("#{$fonts}FuturaPT-Book.ttf") format("truetype"), url("#{$fonts}FuturaPT-Book.svg#FuturaPT-Book") format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Futura PT"
  src: url("#{$fonts}FuturaPT-Heavy.eot")
  src: url("#{$fonts}FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("#{$fonts}FuturaPT-Heavy.woff2") format("woff2"), url("#{$fonts}FuturaPT-Heavy.woff") format("woff"), url("#{$fonts}FuturaPT-Heavy.ttf") format("truetype"), url("#{$fonts}FuturaPT-Heavy.svg#FuturaPT-Heavy") format("svg")
  font-weight: bold
  font-style: normal
  
@font-face
  font-family: "Chunk Five"
  src: url("#{$fonts}Chunkfive-webfont.eot")
  src: url("#{$fonts}Chunkfive-webfont.eot?#iefix") format("embedded-opentype"), url("#{$fonts}Chunkfive-webfont.woff") format("woff"), url("#{$fonts}Chunkfive-webfont.ttf") format("truetype"), url("#{$fonts}Chunkfive-webfont.svg") format("svg")
  font-weight: normal
  font-style: normal
