.select2-selection--single
  background-color: #f5f5f5
  border-bottom: 1px solid
  border-radius: 2px 2px 0 0

  &:hover
    background-color: $color-gray

  .select2-selection__rendered
    color: black
    line-height: $input-height

  .select2-selection__clear
    cursor: pointer
    float: right
    font-weight: bold

  .select2-selection__placeholder
    color: #999

  .select2-selection__arrow
    width: 16px
    height: 10px
    background: url("#{$img}arrow-down.svg")
    position: absolute
    top: 14px
    right: 10px

&.select2-container--disabled
  .select2-selection--single
    background-color: #eee
    cursor: default

    .select2-selection__clear
      display: none

&.select2-container--open
  .select2-selection--single
    .select2-selection__arrow
      background-image: url("#{$img}arrow-up.svg") 