.select2-dropdown
  display: block
  width: 100%
  border-radius: 0 0 2px 2px
  background-color: #fff
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.8)
  position: absolute
  left: -100000px
  z-index: 1051

.select2-results
  display: block

.select2-results__options
  list-style: none
  margin: 0
  padding: 0

.select2-results__option
  padding: 0 10px
  margin: 0
  line-height: 25px
  +user-select(none)

  &:before
    display: none

  &[aria-selected]
    cursor: default

.select2-container--open .select2-dropdown
  left: 0

.select2-container--open .select2-dropdown--above

.select2-container--open .select2-dropdown--below

.select2-search--dropdown
  display: block
  padding: 4px

  .select2-search__field
    padding: 4px
    width: 100%

    &::-webkit-search-cancel-button
      -webkit-appearance: none

  &.select2-search--hide
    display: none