.select2-selection--single
  cursor: pointer
  display: block
  outline: 0
  height: $input-height
  line-height: $input-height
  user-select: none
  -webkit-user-select: none

  .select2-selection__rendered
    display: block
    padding-left: 10px
    padding-right: 10px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .select2-selection__clear
    position: relative