body.page-account
  @media (max-width: 900px)
    .wrapper > :not(.header) .container
      padding: 15px
      
    .section-account-profile
      padding-left: 40px
      padding-right: 40px
      
    .account-profile-meta .column-center
      width: 100%
      margin-top: 50px
      
    .list-reviews .list-item .list-item-meta
      position: static

/* Calendar */

.section-account-calendar
  .heading
    margin-top: 10px
    margin-bottom: 5px

/**/

.account-calendar
  margin-top: 10px

/**/

.account-calendar-actions
  .link
    border-bottom-color: transparent
    margin-left: 15px
    +clearmarginfirst(left)

/**/

.account-calendar-boxes
  margin-top: 10px
  white-space: nowrap
  overflow-x: auto
  height: 90px
  position: relative
  
  .ps__scrollbar-x-rail
    opacity: 0.6

  .input-checkbox
    height: 70px
    margin-right: 10px
    +clearmarginlast(right)

    &.highlighted
      &:after
        content: attr(data-year)
        display: block
        color: $color-text-gray
        font-size: 14px
        line-height: 1.5

/* Profile */

.section-account-profile
  padding: 0 165px 90px
  margin-top: 75px
  border: 3px solid $color1
  
.section-account-profile-full-width
  padding-left: 0
  padding-right: 0

/**/

.account-profile-image
  margin: -66px auto 0px
  background-color: #ffffff
  +circle(130px)
    
.account-profile-image-empty img
  width: 130px
  height: 130px
  border: 1px solid $color-blue
  
.account-profile-image-empty #dropzone-avatar-card
  opacity: 1
  background-color: transparent
  
  &:after
    display: none
  
.account-profile-image-empty #dropzone-avatar-card .dz-message
  color: black

/**/

.account-profile-heading
  margin-top: 10px
  text-align: center

  .heading
    vertical-align: middle
    display: inline-block
    margin-bottom: 0
    text-align: center
    
  .heading-sub
    margin-top: 0
    letter-spacing: 0.2em

  .link
    display: inline-block
    vertical-align: middle
    margin-left: 5px

/**/

.account-profile-desc
  margin-top: 13px
  font-size: 20px
  line-height: 1.4

/**/

.account-profile-misc
  margin-top: 30px
  +clearfix

  .column-main
    float: left
    width: 70%
    padding-right: 35px
    
    +bp($screen-sm, max)
      width: auto

  .column-side
    float: left
    width: 30%
    
    +bp($screen-sm, max)
      clear: both
      margin-top: 20px
      width: auto

  .account-profile-misc-item
    margin-top: 20px
    +clearmarginfirst(top)

    .heading
      margin-bottom: 0
      line-height: $line-height

    p
      margin: 0
      line-height: 20px

/**/

.account-profile-meta
  margin-top: 25px
  +clearfix

  .column-location
    float: left
    height: 28px
    line-height: 36px

    .icon
      vertical-align: -2px
      margin-left: -14px

  .column-center
    width: 375px
    margin: 0 auto
    text-align: center

    .button
      width: 180px

  .column-social
    width: 120px
    height: 34px
    line-height: 26px
    margin: 0 auto
    text-align: center
    
    @media (max-width: 900px)
      float: right
      width: auto

    .link
      display: inline-block
      color: $color-text

      &:hover
        color: $color-blue
        
      .icon-social-facebook
        position: relative
        top: -2px
        width: 29px
        height: 29px
        
      .icon-social-twitter
        width: 32px
        height: 32px
        
      .icon-social-instagram
        width: 33px
        height: 33px

  .column-side

  &.host
    .column-social
      float: right

/**/

.account-profile-amentities
  margin-top: 25px
  border-radius: 2px
  background-color: #f5f5f5
  overflow: hidden
  margin-left: -10px
  margin-right: -10px

.account-profile-amentities-item
  vertical-align: top
  display: inline-block
  max-width: 50%
  padding: 10px
  
  @media (min-width: 1024px)
    display: block
    float: left
    width: 25%
    
    &:nth-child(1)
      width: 50%

  .heading
    font-weight: bold

  span
    vertical-align: top
    display: inline-block
    width: 160px

/**/

.account-profile-gallery
  position: relative
  margin-top: 40px

  .heading
    text-align: center
    font-weight: bold
    line-height: 2

  .button
    width: 150px
    margin-right: 20px
    margin-bottom: 20px
    box-shadow: 1px 1px 8px rgba(#000, .4)
    +position(absolute, false, false, 0, 0)
    z-index: 101

/**/

.account-profile-reviews
  max-width: 500px
  margin: 50px auto 0
  
  .column-meta
    padding-left: 55px
    
  &.empty
    .column-meta
      text-align: center

      .message-rating
        float: none

      .reviews-button
        float: none
        margin-top: 15px

  .column-meta
    +clearfix

    .message-rating
      float: left

    .reviews-button
      float: right
      width: 150px

  .column-main
    margin-top: 20px
    
  @media (max-width: 450px)
    .column-meta
      padding-left: 0
      text-align: center
      
    .message-rating
      text-align: left
      float: none !important
      display: inline-block
      margin-bottom: 10px
      
    .reviews-button
      float: none !important
      margin-bottom: 20px
    
.section-signup-form .form-group-wrapper-submit
  margin-top: 55px
  white-space: nowrap
  
.section-signup-form .form-group-wrapper-submit button
  width: 150px
  
  +bp($screen-sm, max)
    display: block
    margin-bottom: 15px
  
.section-signup-form .form-group-wrapper-submit button:first-child
  margin-right: 20px

.section-account-profile .tabs-content
  max-width: 620px
  margin-left: auto
  margin-right: auto
  
.section-account-profile .tabs-content[data-tab='photos']
  max-width: 600px
  padding: 0 30px
  
  @media (max-width: 900px)
    padding: 0
    
.section-account-profile .tabs-content[data-tab='security']
  max-width: 500px
  
.section-account-profile .tabs-content[data-tab='security'] .form-group
  max-width: 320px
  
  
.submit-review-container
  text-align: left
  padding-left: 55px
  margin: auto
  margin-top: 50px
  
  .message-rating-stars i
    width: 32px
    height: 32px
    margin-left: -1.7px
    cursor: pointer
    
  .message-rating .heading
    display: none
    
  .form-submit
    margin-top: 35px
    
  .form-submit button
    width: 150px
    
  .form-group label
    display: inline-block
    margin-bottom: 3px
    
  .form-group:nth-of-type(3)
    margin-top: 20px
