body.page-home

/**/

.section-home-search
  height: 580px
  padding-top: 35px
  padding-bottom: 35px
  background: url("#{$img}bg-home-search.jpg") no-repeat center center
  background-size: cover
  
  @media (max-width: 510px)
    height: auto
    padding-top: 10px
    padding-bottom: 0
    margin-bottom: 100px

  .container
    position: relative
    
    +bp($screen-xs, max)
      padding: 0

  .heading-first
    width: 820px
    padding: 8px 10px 30px
    margin-top: -10px
    background-color: rgba($color1, .9)
    color: #ffffff
    +position(absolute, 0, 0)

    +bp($screen-md, max)
      width: 100%
      text-align: center
      
    +bp($screen-sm, max)
      text-align: left
      position: static
      font-size: 49px
      padding-right: 100px
      margin-bottom: 10px
      
  .heading.h2
    +bp($screen-xs, max)
      margin-bottom: -20px

.home-search-wrapper
  padding: 100px 65px 60px
  background-color: #ffffff
  +clearfix

  +bp($screen-md, max)
    max-width: 600px
    margin: 0 auto

  +bp($screen-sm, max)
    padding: 10px
    padding-bottom: 30px

.home-search-block
  float: left
  width: 50%
  padding-left: 65px
  
  &:first-child
    position: relative
    padding-left: 0
    padding-right: 65px

    &:after
      content: ""
      width: 1px
      height: 80px
      margin-bottom: -35px
      background-color: $color-text-gray
      +position(absolute, false, false, 0, 0)

    +bp($screen-md, max)
      margin-top: 20px
      padding-right: 0

      &:after
        display: none

  .form
    margin-top: 25px
    +clearfix
      
    +bp($screen-sm, max)
      text-align: center

  .form-group
    float: left
    width: calc(100% - 110px - 10px)
    margin-top: 0

  .button
    float: right
    width: 110px

  +bp($screen-md, max)
    float: none
    width: 100%
    padding-left: 0
    margin-top: 80px
    
  +bp($screen-xs, max)
    margin-top: 40px

  +bp($screen-sm, max)
    .form-group
      float: none
      width: 100%

    .button
      float: none
      margin-top: 10px