body.page-inbox
  overflow-x: hidden
  min-height: 0
  
  .wrapper
    height: 100vh

/**/

.section-inbox-content
  .heading
    text-align: left

  .message-rating-stars
    margin-bottom: 15px

.inbox-content-list
  width: 100%
  height: 100%
  +position(absolute, false, 0, 0, 0)
  +transition(transform .75s cubic-bezier(.6,0,.4,1))
  background-color: white
  top: 170px
  margin-top: 30px
  max-width: 1300px
  margin-left: auto
  margin-right: auto
  padding: 40px
  padding-top: 0
  
  +bp($screen-sm, max)
    padding: 15px
    padding-top: 0
    top: 260px
    
  +bp($screen-xs, max)
    top: 400px
  
  &.hidden
    +transform(translateX(-150%))

  &.active
    +transform(translateX(0%))

.inbox-content-message
  width: 100%
  position: absolute
  left: 0
  top: 170px
  bottom: 0
  +transition(transform .75s cubic-bezier(.6,0,.4,1))
  padding-left: 40px
  padding-right: 40px
  margin-top: 30px

  &.hidden
    +transform(translateX(150%))

  &.active
    +transform(translateX(0%))

/**/

$inbox-block-height: 580px
$inbox-message-height: 110px

.inbox-message
  position: relative
  display: table
  width: 100%
  height: 100%
  border: 3px solid $color1
  border-bottom: 0
  background-color: #ffffff
  max-width: 1240px
  margin: auto

  > .link-icon
    position: absolute
    top: -26px
    left: -26px
    text-align: center
    width: 52px
    height: 52px
    border-radius: 50%
    background-color: #F5F5F6
    cursor: pointer
    z-index: 1

  > .link-icon .icon
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

.inbox-message-sidebar
  position: relative
  vertical-align: top
  display: table-cell
  width: 250px
  border-right: 1px solid $color1
  
  img
    border-radius: 50%
    margin-bottom: 15px

  @media (max-width: 900px)
    display: block
    width: 100%
    border-bottom: 3px solid $color1
    border-right: 0

    img
      display: block
      margin-left: auto
      margin-right: auto

  .box-scrollbar
    position: relative
    height: calc(100vh - 203px)
    padding: 45px 30px
    min-height: 460px

    @media (max-width: 900px)
      height: auto

.inbox-message-content
  vertical-align: top
  display: table-cell
  position: relative
  padding-bottom: 110px
  margin-top: 20px

  @media (max-width: 900px)
    display: block
    width: 100%

  .box-scrollbar
    position: relative
    height: calc(100vh - 313px)
    min-height: 350px

    @media (max-width: 900px)
      height: 90vh

  .box-message
    width: 100%
    height: $inbox-message-height
    background-color: #f5f5f5
    +position(absolute, false, 0, false, 0)
    +clearfix

  .box-message-input
    overflow: hidden
    float: left
    width: calc(100% - 200px)
    height: 100%
    padding: 10px 30px
    border-bottom: 0
    line-height: $line-height

    &:empty
      &:before
        content: attr(data-placeholder)
        color: $color-text-gray

    &:focus
      &:before
        display: none

  .box-message-controls
    float: right
    width: 200px
    padding: 10px 30px

    .button
      width: 100%

    .dropzone
      margin-top: 10px
      
.inbox-message-sidebar-mobile
  text-align: center
  position: relative
  display: none
  border: 0
  margin-bottom: 18px
  
.inbox-message-name-link:hover .inbox-message-name
  color: $color-red
  border-color: $color-red
  
.inbox-message-sidebar-desktop .inbox-message-name
  display: inline-block
  margin-bottom: 15px
    
.inbox-message-sidebar-desktop .message-rating,
.inbox-message-sidebar-desktop .column-location
  margin-top: 5px
  
.inbox-message-sidebar-desktop .column-location .icon
  vertical-align: -2px
  
.inbox-message-host
  display: inline-block
  position: relative
  padding-left: 50px
  text-align: left
  
.inbox-message-sidebar-mobile img,
.inbox-message-sidebar-mobile .link-icon
  position: absolute
  left: 0
  top: 50%
  transform: translateY(-50%)
  
.inbox-message-sidebar-mobile img
  width: 40px
  height: 40px
  border-radius: 50%
  
.inbox-message-position
  text-transform: uppercase
  color: $color1
  letter-spacing: 0.2em
  
.inbox-message-report-spam
  color: $color-red
  float: right
  border: 0
  margin-top: 25px
  
.inbox-message-name
  border-bottom: 1px solid rgba(33, 134, 248, 0.3)
  color: #2186f8
  font-weight: bold
  font-size: 20px
  margin-bottom: 3px
  
@media (max-width: 900px)
  body.page-inbox
    .wrapper
      height: auto
      
  .inbox-content-message
    position: static
    padding-right: 0
    padding-left: 0
    
@media (max-width: 479px)
  .list-inbox .list-item-content
    padding-right: 0
    padding-bottom: 50px
    
  .inbox-content-message
    padding: 0
    
  .inbox-message-sidebar-mobile
    display: block
    
  .inbox-message-sidebar-desktop
    display: none
    
  .inbox-message > .link-icon
    background-color: transparent     
    display: none
    
@media (max-width: 400px)
  .header-search-alt .header-search-submit
    float: right
    clear: both
    margin-top: 15px
    
  .header-search-alt .header-search-input.search-alt
    width: calc(100% - 40px - 10px)
    
  .header-search-alt .header-search-input.filters
    float: right
