body.page-notfound

/**/

.section-notfound-main
  .heading-first
    margin-top: 60px
    margin-bottom: 0
    text-align: center

    .notfound
      vertical-align: middle
      display: inline-block
      width: 516px
      height: 225px
      background: url("#{$img}404.png") no-repeat top center
      background-size: contain
      +hidetext

      +bp($screen-sm, max)
        width: 325px
        height: 140px

      +bp($screen-xs, max)
        width: 230px
        height: 100px

  .heading-second
    padding-left: 57%
    margin-top: 20px
    font-size: 20px

    +bp($screen-xs, max)
      padding-left: 34%