body.page-search

/**/

.section-search-list
  .container
    > .heading
      text-align: center
      
      +bp($screen-sm, max)
        text-align: left

.section-search-notfound
  .heading-first
    margin-bottom: 0
    text-align: center
    
    +bp($screen-sm, max)
      text-align: left

    .zero
      vertical-align: middle
      display: inline-block
      width: 165px
      height: 177px
      margin: 0 5px
      background: url("#{$img}zero.png")
      +hidetext

      +bp($screen-sm, max)
        display: block
        margin: 40px auto

  .heading-second
    margin-top: -40px
    padding-left: 50%
    text-align: left

    +bp($screen-sm, max)
      margin-top: 40px
      padding-left: 0
