body.page-signup

/**/

.section-signup-main
  position: relative

  &:before,
  &:after
    content: ""
    display: block
    width: 507px
    height: 380px
    border: 1px solid rgba(#000, .08)
    +position(absolute, 0)

  &:before
    left: 0
    margin-top: 55px
    margin-left: -110px
    background: url("#{$img}bg-signup-left.jpg") no-repeat
    +transform(rotate(1.73deg))

  &:after
    right: 0
    margin-top: -40px
    margin-right: -110px
    background: url("#{$img}bg-signup-right.jpg") no-repeat
    +transform(rotate(-5.65deg))

  .heading-pre
    font-size: 14px
    line-height: 1.4

  .heading
    margin-top: 0

  .form
    width: 230px
    margin: 0 auto

  .form-submit
    &.first
      margin-top: 30px

  p
    font-size: 14px

    &.first
      text-align: center
      text-transform: uppercase

  .button
    width: 100%

  +bp($screen-lg, max)
    &:before
      margin-left: -200px

    &:after
      margin-right: -200px

  +bp($screen-md, max)
    &:before
      margin-left: -280px

    &:after
      margin-right: -280px

  +bp($screen-sm, max)
    &:before,
    &:after
      display: none

/**/

.section-signup-form
  .heading-pre
    font-size: 14px
    line-height: 1.4

  .heading
    margin-top: 0
    margin-bottom: 18px
    
  .form-group-wrapper.meals .input-checkbox-icon
    display: block

  .form-group-wrapper
    max-width: 600px
    margin-top: 10px
    +clearfix

    &.last
      margin-top: 70px

    .form-group-label
      float: left
      padding-top: 8px
      padding-right: 10px
      max-width: 160px
      
    .form-group-label-textarea
      padding-top: 11px
      
    .form-group-label.link-icon
      padding-top: 3px

    .form-group
      float: right
      width: 430px
      margin-top: 0
      
      @media (min-width: 900px) and (max-width: 1020px)
        width: 65%

      &.location
        .form-control
          max-width: 320px
          
      &.birth
        .form-control
          max-width: 320px
          
      &.age
        .form-control
          width: 70px
          display: inline-block
          vertical-align: middle
          
        .delimeter
          margin: 0 5px

      &.social
        .form-control
          max-width: 220px

    +bp($screen-sm, max)
      margin-top: 20px

      .form-group-label
        float: none
        width: 100%
        padding-top: 0
        padding-right: 0

      .form-group
        float: none
        width: 100%
        margin-top: 5px
        
      &.no-wrap .form-group
        float: right
        width: auto
        margin-top: 0
        
      &.no-wrap .form-group-label
        float: left
        width: auto
        
      &.no-wrap .button
        width: 190px
        
  .button
    width: 220px

/**/

.section-signup-success
  .heading
    margin-bottom: 5px
    
.fieldset-social .form-group-wrapper
  margin-top: 10px
