.wrapper
  overflow: hidden

/**/

a:hover > .message-rating
  color: #ea3403

.message-rating
  .heading
    font-size: 14px
    line-height: 1.4

.message-rating-stars
  font-size: 0

  i
    vertical-align: top
    display: inline-block
    width: 14px
    height: 14px
    background-image: url("#{$img}stars/star-minus.svg")
    background-size: contain

    &.star
      background-image: url("#{$img}stars/star-plus.svg")

/**/

.message-strong
  font-size: 20px
  line-height: 28px

.message-footer
  margin-top: 50px