.footer
  margin-top: 50px
  padding-top: 35px
  padding-bottom: 70px
  
  .container
    +clearfix

  +bp($screen-md, max)
    border-top: 1px solid #eeeeee

/**/
  
.footer-address
  float: left
  color: $color-text-gray
  width: 24.99%
  min-width: 150px

/**/

.footer-countries
  float: left
  margin-left: 8.33%
  width: 41.65%

  +bp($screen-md, max)
    float: none
    clear: both
    margin-left: 0
    padding-top: 25px
    width: 100%

.footer-countries-columns
  font-size: 0
  
.footer-countires-column
  vertical-align: top
  display: inline-block
  font-size: 1rem
  width: 25%

  &:last-child
    margin-right: 0

  +bp($screen-md, max)
    margin-top: 20px

  @media (max-width: 500px)
    width: 50%
    float: left
    margin-right: 0
    
    &:nth-child(2n + 1)
      clear: both
    
/**/

.footer-menu
  float: right
  width: 8.33%
  min-width: 70px

.footer--fixed
  visibility: hidden
  position: absolute
  left: 0
  right: 0
  bottom: 0
  
body.footer-fixed .wrapper .footer
  visibility: hidden
  
body.footer-fixed .footer--fixed
  visibility: visible
