$logo-width: 101px

.header
  padding-top: 40px
  padding-bottom: 47px

  .container
    +clearfix

.header--clone
  transform: translateY(-100%)
  position: fixed
  z-index: 1
  top: 0
  left: 0
  right: 0
  transition: all 150ms ease-in-out
  z-index: 1000
  padding: 0
  height: 52px
  border-bottom: 1px solid rgba(0,0,0,.08)
  opacity: 0
  
  @media (max-width: 830px)
    display: none
  
  .header-menu, .header-profile
    display: none
    
  .header-search
    margin-top: 0
    
  .header-search .form
    border-top: 0
    
  .header-logo a
    position: relative
    top: 7px
    display: inline-block
    height: 40px
    overflow: hidden
    
  .header-logo img
    position: relative
    top: -68px
  
.header--stick
  transform: translateY(0)
  background-color: white
  opacity: 1
  
.header-logo
  float: left
  margin-left: -7px

  img
    width: $logo-width
    height: 107px
    border: 0

.header-menu
  float: left
  margin-left: 25px

.header-profile
  float: right

.header-search
  clear: right
  padding-left: $logo-width + 25 - 7
  margin-top: 55px
  
  .form
    padding-top: 5px
    border-top: 1px solid $color1
    +clearfix

.header-search-input
  float: left
  padding-right: 10px
  margin-top: 0
  
  .empty
    color: $color-text-gray
  .empty ~ .delimeter
    display: none
  
  &.search-full,
  &.date
    width: calc((100% - 175px - 10px - 40px) / 2)

    @media (max-width: 680px)
      width: 50%
      margin-bottom: 15px

    @media (max-width: 500px)
      width: 100%
      
  &.date
    @media (max-width: 500px)
      width: calc(100% - 10px - 40px)
      
  &.date .popup-datepicker
    @media (min-width: 480px) and (max-width: 680px)
      left: auto

  &.search-alt
    width: calc(100% - 175px - 40px - 10px)

  &.filters
    width: 40px
    margin-top: 3px

    .button
      color: $color-blue

    .form-control
      span
        &:first-child
          &:after
            content: "—"
            margin-left: 5px
            margin-right: 2px

          &:empty
            &:after
              display: none

        &:empty
          &:before
            content: attr(data-placeholder)
            color: $color-text-gray

  @media (max-width: 680px)
    &.filters .popup-filters
      position: fixed
      top: 40px
      right: 0px
      left: 0px
      width: auto
      bottom: 0px
      max-height: none
      padding: 10px
    
.header-search-submit
  float: right
  width: 175px
  margin-top: 0

@media (max-width: 479px)
  .header
    padding-top: 20px
    padding-bottom: 20px

  .header-logo
    margin-bottom: 20px
    width: 100%
    text-align: center

  .header-logo img
    width: 80px
    height: auto

  .header-menu
    margin-left: 0
    width: 50%
    float: left
    padding-left: 10px
    
  .header-menu > a.menu-item
    display: block

  .header-search
    padding-left: 0
    clear: both
    padding-top: 20px
    border: 0

  .header-search .form
    padding-top: 15px
    border: 0
    
  .header-profile
    position: relative
    float: left
    width: 50%
    padding-right: 10px
    margin-top: 0
    
  .menu-profile-name
    text-align: right
    margin-bottom: 5px
    
  .menu-profile-name > a
    display: none
    
  .menu-profile-name > .popup-language__wrapper
    display: inline-block
    float: none
    
  .menu-profile .menu-item:first-of-type
    margin-left: 25px
    
  .menu-profile-image
    position: absolute
    right: 100px
    top: 36px
    
  .menu-profile-content-container .menu-item
    padding: 0
    
    
@media (max-width: 800px)
  .header-search
    clear: both
    
  .menu-header > .menu-item,
  .menu-header > .popup-wrapper
    display: block

