.list-inbox
  .list-item
    position: relative
    padding: 10px 30px 15px
    margin-top: 2px
    border: 1px solid $color-text
    cursor: pointer
    background-color: #ffffff
    +transition(transform .15s)
    +clearmarginfirst(top)
    +clearfix

    &:hover
      box-shadow: 3px 3px 0 $color-text
      +transform(translate(-4px, -2px))

    &.unread
      border-color: $color1
      box-shadow: inset 0 0 0 2px $color1

      &:hover
        box-shadow: inset 0 0 0 2px $color1, 3px 3px 0 $color1

    &.hidden
      +transform(translateX(-100%))

  .list-item-image
    float: left
    +circle(80px)

  .list-item-content
    padding-left: 110px
    padding-right: 180px

  .list-item-name
    font-weight: bold
    font-size: 20px

  .list-item-text
    font-size: 20px
    line-height: 28px

    strong
      color: $color1
      font-weight: bold

  .list-item-meta
    margin-right: 30px
    margin-bottom: 20px
    text-align: right
    color: $color-text-gray
    font-size: 14px
    +position(absolute, false, false, 0, 0)
