.inbox-message-content
  
  .list-messages
    padding-top: 30px
  
  .list-item
    position: relative
    padding: 0 140px 0 25px
    margin-top: 25px
    +clearfix
      
    &.pinned
      position: absolute
      top: 0
      left: 0
      right: 0
      margin: 0
      padding: 0
      z-index: 1
      
    &.pinned .list-item-request
      margin: 0
      line-height: 24px
      
      &:before
        display: none
        
      
    &.pinned button
      float: right
      
    &.last
      margin-bottom: 20px

    &.mine
      .list-item-name
        color: $color1

    &.unread
      .list-item-request
        background-color: #ffefaf

        &:before
          border-color: transparent #ffefaf transparent transparent

  .list-item-name
    font-weight: bold

  .list-item-text

  .list-item-meta
    margin-right: 30px
    text-align: right
    color: $color-text-gray
    font-size: 14px
    +position(absolute, false, false, 0, 0)

  .list-item-request
    position: relative
    height: auto
    margin-left: 5px
    padding: 10px 30px
    background-color: #f5f5f5
    line-height: 1

    &:before
      content: ""
      width: 0
      height: 0
      margin-left: -12px
      border-style: solid
      border-width: 18px 12px 18px 0
      border-color: transparent #f5f5f5 transparent transparent
      +position(absolute, 0, 0)
      top: 50%
      margin-top: -18px

    &.default
      color: $color1

    &.cancelled
      color: #e94545

    &.file
      .meta
        margin-left: 5px
        color: #9c9c9c
        text-transform: uppercase
        letter-spacing: 1px

      strong
        font-weight: normal
        
@media (max-width: 479px)
  .list-messages .list-item
    padding: 0 80px 0 25px
