.list-reviews
  .list-item
    margin-top: 30px
    +clearmarginfirst(top)
    +clearfix

    .list-item-image
      float: left
      +circle(40px)

    .list-item-content
      position: relative
      padding-left: 55px

    .list-item-name
      font-size: 20px
      font-weight: bold

    .list-item-meta
      color: $color-text-gray
      font-size: 14px
      line-height: 26px
      +position(absolute, 0, false, 0)

    .list-item-text
      overflow: hidden
      position: relative
      margin-top: 15px

      &.cutted
        &:after
          content: ""
          width: 100%
          height: 25px
          background: linear-gradient(to bottom, rgba(#fff, 0), rgba(#fff, 1))
          +position(absolute, false, 0, false, 0)

    .list-item-text-more
      color: $color-blue
      font-size: 14px
      cursor: pointer

      &:hover
        color: $color-red