.list-search
  .list-item
    position: relative
    margin-top: 65px
    +clearmarginfirst(top)
    +clearfix
      
    @media (max-width: 768px)
      &:before
        content: ''
        position: absolute
        top: -20px
        left: -40px
        width: calc(100% + 40px + 40px)
        border-bottom: 1px solid #eeeeee
        
    @media (max-width: 479px)
      &:before
        left: -15px
        width: calc(100% + 15px + 15px)
        
    &:first-child:before
      display: none

  .list-item-image
    float: left
    width: 39%
    text-align: center

    +bp($screen-sm, max)
      width: 100%
      float: none

    img
      margin: 0 15px

      &.angle-pos
        +transform-origin(left)

      &.angle-neg
        +transform-origin(right)

      &.angle-pos-1
        +transform(rotate(1deg))

      &.angle-pos-2
        +transform(rotate(2deg))

      &.angle-pos-3
        +transform(rotate(3deg))

      &.angle-neg-1
        +transform(rotate(-1deg))

      &.angle-neg-2
        +transform(rotate(-2deg))

      &.angle-neg-3
        +transform(rotate(-3deg))

    .slick-list
      padding-bottom: 20px

  .list-item-button
    position: relative
    width: 180px
    margin-top: -30px
    z-index: 101

  .list-item-content
    padding-left: 41.5%

    +bp($screen-sm, max)
      padding-left: 0
      margin-top: 20px

  .list-item-meta

  .list-item-name
    margin-top: 5px
    margin-bottom: 0

.list-search-more
  margin-top: 60px
  padding-left: 420px

  +bp($screen-md, max)
    padding-left: 340px

  +bp($screen-sm, max)
    padding-left: 0

  .button
    width: 170px