</div><!--/.wrapper-->

@@include("part/menu-pages.html")

<div id="dropzone-inbox-preview-template" style="display: none;">
    <div class="list-item mine">
        <div class="list-item-request file">
            Jessie sent a file
            <a href="#" data-dz-name></a>
            <span class="meta"><span data-dz-size></span>, <span>.zip</span></span>
        </div>
        <div class="list-item-meta">
            15:14
        </div>
    </div>
</div>

<!--build:js js/ui.min.js -->
<script src="js/jquery-ui.js"></script>
<!-- endbuild -->
<!--build:js js/lib.min.js -->
<script src="js/plugins/dropzone/dropzone.js"></script>
<script src="js/plugins/select2/js/select2.js"></script>
<script src="js/plugins/slick/slick.js"></script>
<script src="js/plugins/perfect-scrollbar/perfect-scrollbar.jquery.js"></script>
<script src="js/plugins/lightbox/js/lightbox.js"></script>
<script src="js/plugins/datepick/js/jquery.plugin.js"></script>
<script src="js/plugins/datepick/js/jquery.datepick.js"></script>
<script src="js/plugins/jquery.validate.js"></script>
<script src="js/plugins/jquery.easing.js"></script>
<script src="js/plugins/jquery.maskedinput.js"></script>
<script src="js/plugins/jquery.placeholder.js"></script>
<script src="js/plugins/textcounter.min.js"></script>
<script src="js/plugins/headhesive.min.js"></script>
<script src="js/svg4everybody.js"></script>
<!-- endbuild -->
<!--build:js js/main.min.js -->
<script src="js/project/carousel.js"></script>
<script src="js/project/tabs.js"></script>
<script src="js/project/form.js"></script>
<script src="js/project/main.js"></script>
<script src="js/project/menu.js"></script>
<script src="js/project/menu-highlighted.js"></script>
<script src="js/project/stylish.js"></script>
<script src="js/project/validator.js"></script>
<script src="js/project/popup.js"></script>
<script src="js/project/inputnumber.js"></script>
<script src="js/project/scrollto.js"></script>
<script src="js/project/notify.js"></script>
<script src="js/pages/account.js"></script>
<script src="js/pages/search.js"></script>
<script src="js/pages/inbox.js"></script>
<!-- endbuild -->

</body>
</html>