<div class="footer">
    <div class="container">
        <div class="footer-address">
            Au Pair Worldwide Ltd.<br>
            76 Crown Street, London,<br>
            W3 5RY, UK<br>
            Tel.: 070 7497 4981
        </div>
        <div class="footer-menu menu-footer">
            <a href="#" class="menu-item">FAQ</a>
            <a href="#" class="menu-item">About us</a>
            <a href="#" class="menu-item">Careers</a>
        </div>
        <div class="footer-countries">
            <div class="heading heading-sub">
                Host countries
            </div>
            <div class="footer-countries-columns">
              <div class="footer-countires-column menu-countries">
                  <a href="#" class="menu-item">Australia</a>
                  <a href="#" class="menu-item">Austria</a>
                  <a href="#" class="menu-item">Belgium</a>
                  <a href="#" class="menu-item">Canada</a>
                  <a href="#" class="menu-item">Denmark</a>
                  <a href="#" class="menu-item">Finland</a>
              </div>
              <div class="footer-countires-column menu-countries">
                  <a href="#" class="menu-item">France</a>
                  <a href="#" class="menu-item">Germany</a>
                  <a href="#" class="menu-item">Iceland</a>
                  <a href="#" class="menu-item">Ireland</a>
                  <a href="#" class="menu-item">Italy</a>
              </div>
              <div class="footer-countires-column menu-countries">
                  <a href="#" class="menu-item">Liechtenstein</a>
                  <a href="#" class="menu-item">Luxembourg</a>
                  <a href="#" class="menu-item">Netherlands</a>
                  <a href="#" class="menu-item">New Zealand</a>
                  <a href="#" class="menu-item">Norway</a>
              </div>
              <div class="footer-countires-column menu-countries">
                  <a href="#" class="menu-item">Spain</a>
                  <a href="#" class="menu-item">Sweden</a>
                  <a href="#" class="menu-item">Switzerland</a>
                  <a href="#" class="menu-item">United Kingdom</a>
                  <a href="#" class="menu-item">USA</a>
              </div>
            </div>
        </div>
    </div>
</div>

</div><!--/.wrapper-->

@@include("part/menu-pages.html")

<div id="dropzone-avatar-preview-template" style="display: none;">
    <div class="dz-preview">
        <img data-dz-thumbnail>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    </div>
</div>

<div id="dropzone-gallery-preview-template" style="display: none;">
    <div class="dz-preview">
        <img data-dz-thumbnail>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <label class="input-checkbox input-checkbox-light dz-setcover" data-input-checkbox="true">
            <input type="radio" name="cover">
            <span>Set as cover</span>
        </label>
        <input type="text" class="form-control transparent dz-setdesc" placeholder="Image description">
    </div>
</div>

<script>
    var carouselPrevArrow = '<button class="slick-prev">@@include("inc/icon.html", {"name": "arrow-carousel-left"})</button>';
    var carouselNextArrow = '<button class="slick-next">@@include("inc/icon.html", {"name": "arrow-carousel-right"})</button>';
</script>

<!--build:js js/ui.min.js -->
<script src="js/jquery-ui.js"></script>
<!-- endbuild -->
<!--build:js js/lib.min.js -->
<script src="js/plugins/dropzone/dropzone.js"></script>
<script src="js/plugins/select2/js/select2.js"></script>
<script src="js/plugins/slick/slick.js"></script>
<script src="js/plugins/perfect-scrollbar/perfect-scrollbar.jquery.js"></script>
<script src="js/plugins/lightbox/js/lightbox.js"></script>
<script src="js/plugins/datepick/js/jquery.plugin.js"></script>
<script src="js/plugins/datepick/js/jquery.datepick.js"></script>
<script src="js/plugins/jquery.validate.js"></script>
<script src="js/plugins/jquery.easing.js"></script>
<script src="js/plugins/jquery.maskedinput.js"></script>
<script src="js/plugins/jquery.placeholder.js"></script>
<script src="js/plugins/textcounter.min.js"></script>
<script src="js/plugins/headhesive.min.js"></script>
<script src="js/svg4everybody.js"></script>
<!-- endbuild -->
<!--build:js js/main.min.js -->
<script src="js/project/carousel.js"></script>
<script src="js/project/tabs.js"></script>
<script src="js/project/form.js"></script>
<script src="js/project/main.js"></script>
<script src="js/project/menu.js"></script>
<script src="js/project/menu-highlighted.js"></script>
<script src="js/project/stylish.js"></script>
<script src="js/project/validator.js"></script>
<script src="js/project/popup.js"></script>
<script src="js/project/inputnumber.js"></script>
<script src="js/project/scrollto.js"></script>
<script src="js/project/notify.js"></script>
<script src="js/pages/account.js"></script>
<script src="js/pages/search.js"></script>
<script src="js/pages/inbox.js"></script>
<!-- endbuild -->

</body>
</html>