<div id="inbox-message-sidebar" class="inbox-message-sidebar inbox-message-sidebar-mobile">
  <div class="inbox-message-host">
    <a class="link-no-style u-block inbox-message-name-link" href="profile-member-host.html">
      <img src="userdata/profile-man1.jpg" alt="">
      <div class="inbox-message-name">Jessie Hunter</div>
    </a>
    <div class="inbox-message-position">Host</div>
  </div>
  <a class="link link-icon" data-inbox-back="list">
      @@include("inc/icon.html", {"name": "arrow-back"})
  </a>
</div>
<div class="inbox-message">
    <a class="link link-icon" data-inbox-back="list">
        @@include("inc/icon.html", {"name": "arrow-back"})
    </a>
    <div id="inbox-message-sidebar" class="inbox-message-sidebar inbox-message-sidebar-desktop">
        <div class="box-scrollbar">
            <a class="link-no-style u-block inbox-message-name-link" href="profile-member-host.html">
              <img src="userdata/profile-man1.jpg" alt="">
              <div class="inbox-message-name">Jessie Hunter</div>
            </a>
            <div class="inbox-message-position">Host</div>
            <div class="column-location">
                <svg class="icon icon-common-location"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons.svg#common-location"></use></svg>
                London, UK
            </div>
            <a class="link-no-style" href="profile-member-host.html">@@include("inc/rating.html", {"reviews": "121", "rating": "4"})</a>
            
            <div>
                <p>
                    I’m 29 years old and have a small baby who I love. Me and my husband are looking for some qualified person to help us with Joey and daily chores. We live in a beautiful part of London with a park and a lake nearby. Joey goes to kindergarten in June, so bringing him in and out is one of the main duties for au pair.
                </p>
                <p>
                    <strong>Expectations</strong><br>
                    We are looking for someone around 20-25 y.o. with good attitude to kids. We prefer that it would a gir.l, but this is not mandatory. We are looking for a punctual and smart person with at least few years of experience with kids.
                </p>
                <p>
                    <strong>Au pair duties</strong><br>
                    Sit with Joey while we are at work, help with daily chores and home routines. Joey goes to kindergarten this summer, so we need someone who can get him in and out.
                </p>
            </div>
            
            <a class="inbox-message-report-spam"
               onclick="window.notify('default', 'Your spam report has been sent. Thank you for letting us know. <a>Cancel</a>')">
              Report spam
            </a>
        </div>
    </div>
    <div class="inbox-message-content">
        <script>
          $(function() {
            $('.list-item.pinned button').on('click', function() {
              $(this).closest('.list-item').fadeOut(300)
            })
          })
        </script>
        <div class="list-item mine pinned unread">
            <div class="list-item-request default">
                You cancelled your stay request starting from <strong>Dec 14, 2017</strong>
                <button class="button button-simple button-simple__red">Cancel</button>
            </div>
        </div>
          
        <div id="inbox-messages-list" class="list list-messages box-scrollbar">
            <div class="list-item">
                <div class="list-item-name">
                    Jack Slater
                </div>
                <div class="list-item-text">
                    Hi Winston!<br>
                    For how long you want to stay at our place?
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item mine">
                <div class="list-item-request default">
                    You requested stay from <strong>Dec 14 to Apr 14, 2018</strong>
                </div>
                <div class="list-item-meta">
                    12:10
                </div>
            </div>
            <div class="list-item mine">
                <div class="list-item-request cancelled">
                    You cancelled your stay request starting from <strong>Dec 14, 2017</strong>
                </div>
                <div class="list-item-meta">
                    12:11
                </div>
            </div>
            <div class="list-item mine">
                <div class="list-item-name">
                    Winston
                </div>
                <div class="list-item-text">
                    About 4 months from November till March. What do you think?<br>
                    I wanted to spend Christmas in London
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-name">
                    Jessie
                </div>
                <div class="list-item-text">
                    Yeah, good!
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-name">
                    Jack Slater
                </div>
                <div class="list-item-text">
                    Hi Winston!<br>
                    For how long you want to stay at our place?
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item mine">
                <div class="list-item-name">
                    Winston
                </div>
                <div class="list-item-text">
                    About 4 months from November till March. What do you think?<br>
                    I wanted to spend Christmas in London
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-name">
                    Jessie
                </div>
                <div class="list-item-text">
                    Yeah, good!
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-name">
                    Jack Slater
                </div>
                <div class="list-item-text">
                    Hi Winston!<br>
                    For how long you want to stay at our place?
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item mine">
                <div class="list-item-name">
                    Winston
                </div>
                <div class="list-item-text">
                    About 4 months from November till March. What do you think?<br>
                    I wanted to spend Christmas in London
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-name">
                    Jessie
                </div>
                <div class="list-item-text">
                    Yeah, good!
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item mine">
                <div class="list-item-request cancelled">
                    You cancelled your stay request starting from <strong>Dec 14, 2017</strong>
                </div>
                <div class="list-item-meta">
                    12:11
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-name">
                    Jack Slater
                </div>
                <div class="list-item-text">
                    Hi Winston!<br>
                    For how long you want to stay at our place?
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item mine">
                <div class="list-item-name">
                    Winston
                </div>
                <div class="list-item-text">
                    About 4 months from November till March. What do you think?<br>
                    I wanted to spend Christmas in London
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-name">
                    Jessie
                </div>
                <div class="list-item-text">
                    Yeah, good!
                </div>
                <div class="list-item-meta">
                    11:54
                </div>
            </div>
            <div class="list-item mine unread last">
                <div class="list-item-request default">
                  You requested stay starting from <strong>Nov 14, 2017</strong>
                </div>
                <div class="list-item-meta">
                    12:11
                </div>
            </div>
        </div>
        <div class="box-message">
            <div class="box-message-input form-control" contenteditable="true" data-placeholder="Reply to Jessie..."></div>
            <div class="box-message-controls">
                <button class="button button-primary">Send</button>
                <div class="dropzone dropzone-inbox-form">
                    <div id="dropzone-inbox-form-preview" class="dropzone-previews"></div>
                    <div id="dropzone-inbox-form" class="dropzone-input">
                        <span class="dz-message"><span>Select</span> or drag file here</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>