<div class="list list-inbox">
    <div class="list-item unread" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man1.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                Jack Slater
            </div>
            <div class="list-item-text">
                Would be happy to host you in our house.
            </div>
        </div>
        <div class="list-item-meta">
            11:54
        </div>
    </div>
    <div class="list-item unread" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man1.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                Jack Slater
            </div>
            <div class="list-item-text">
                Would be happy to host you in our house.
            </div>
        </div>
        <div class="list-item-meta">
            11:54
        </div>
    </div>
    <div class="list-item unread" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man2.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                Stan Johnson
            </div>
            <div class="list-item-text">
                Stan accepted your request to stay from July 17 to Sep 19
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
    <div class="list-item" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man3.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                John Clarke
            </div>
            <div class="list-item-text">
                <strong>Winston:</strong> I would be happy to stay at your place. I have a 3 year experience of sitting with kids and this is my fourth au pair trip to USA. Last time I lived in Wisconsin in the summer of 2014 and liked it very much!
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
    <div class="list-item" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man3.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                John Clarke
            </div>
            <div class="list-item-text">
                <strong>Winston:</strong> I would be happy to stay at your place. I have a 3 year experience of sitting with kids and this is my fourth au pair trip to USA. Last time I lived in Wisconsin in the summer of 2014 and liked it very much!
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
    <div class="list-item" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man2.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                Stan Johnson
            </div>
            <div class="list-item-text">
                Stan accepted your request to stay from July 17 to Sep 19
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
    <div class="list-item" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man3.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                John Clarke
            </div>
            <div class="list-item-text">
                <strong>Winston:</strong> I would be happy to stay at your place. I have a 3 year experience of sitting with kids and this is my fourth au pair trip to USA. Last time I lived in Wisconsin in the summer of 2014 and liked it very much!
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
    <div class="list-item" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man2.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                Stan Johnson
            </div>
            <div class="list-item-text">
                Stan accepted your request to stay from July 17 to Sep 19
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
    <div class="list-item" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man3.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                John Clarke
            </div>
            <div class="list-item-text">
                <strong>Winston:</strong> I would be happy to stay at your place. I have a 3 year experience of sitting with kids and this is my fourth au pair trip to USA. Last time I lived in Wisconsin in the summer of 2014 and liked it very much!
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
    <div class="list-item" data-inbox-message="inbox1">
        <div class="list-item-image">
            <img src="userdata/profile-man2.jpg" alt="">
        </div>
        <div class="list-item-content">
            <div class="list-item-name">
                Stan Johnson
            </div>
            <div class="list-item-text">
                Stan accepted your request to stay from July 17 to Sep 19
            </div>
        </div>
        <div class="list-item-meta">
            23 Mar 2017<br>
            14:20
        </div>
    </div>
</div>