<div class="menu-pages-toggle dg-shots-hidden" data-menu-toggle="menu-pages">
    Страницы
</div>
<div class="menu-pages menu-highlighted dg-shots-hidden" data-menu="menu-pages">
    <a href="index.html" class="menu-item">index</a>
    <a href="search-host.html" class="menu-item separator">search-host</a>
    <a href="search-aupair.html" class="menu-item">search-aupair</a>
    <a href="search-notfound.html" class="menu-item">search-notfound</a>
    <a href="signup-aupair-step1.html" class="menu-item separator">signup-aupair-step1</a>
    <a href="signup-aupair-step2.html" class="menu-item">signup-aupair-step2</a>
    <a href="signup-aupair-success.html" class="menu-item">signup-aupair-success</a>
    <a href="signup-host-step1.html" class="menu-item separator">signup-host-step1</a>
    <a href="signup-host-step2.html" class="menu-item">signup-host-step2</a>
    <a href="signup-host-step3.html" class="menu-item">signup-host-step3</a>
    <a href="signup-host-step4.html" class="menu-item">signup-host-step4</a>
    <a href="signup-host-success.html" class="menu-item">signup-host-success</a>
    <a href="signin.html" class="menu-item separator">signin</a>
    <a href="host-calendar.html" class="menu-item">host-calendar</a>
    <a href="inbox.html" class="menu-item">inbox</a>
    <a href="profile-member-host.html" class="menu-item">profile-member-host</a>
    <a href="profile-member-aupair.html" class="menu-item">profile-member-aupair</a>
    <a href="profile-host.html" class="menu-item">profile-host</a>
    <a href="profile-aupair.html" class="menu-item">profile-aupair</a>
    <a href="404.html" class="menu-item separator">404</a>
</div>