<div class="section-signup-form">
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Country</label>
	        <div class="form-group">
	            <select name="country" class="form-control">
	                <option value="0">Any</option>
	                <option value="1">Russia</option>
	                <option value="2">USA</option>
	                <option value="3">France</option>
	                <option value="4">Germany</option>
	                <option value="5">UK</option>
	                <option value="6">Australia</option>
	            </select>
	        </div>
	    </div>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Sex</label>
	        <div class="form-group">
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="sex" checked>
	                <span>Any</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="sex">
	                <span>Male</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="sex">
	                <span>Female</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Your expectations</label>
	        <div class="form-group">
	            <textarea name="expectations" class="form-control"></textarea>
	        </div>
	    </div>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Au pair duties</label>
	        <div class="form-group">
	            <textarea name="duties" class="form-control"></textarea>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <div class="form-group">
	            <label class="input-checkbox" data-input-checkbox="true">
	                <input type="checkbox" name="smoking">
	                <span>Smoking acceptable</span>
	            </label>
	        </div>
	    </div>
	    <div class="form-group-wrapper">
	        <div class="form-group">
	            <label class="input-checkbox" data-input-checkbox="true">
	                <input type="checkbox" name="driver">
	                <span>Driving license required</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper form-group-wrapper-submit">
					<div class="form-group">
		        <button class="button button-primary">Save</button>
		        <button class="button button-secondary">Preview</button>
					</div>
	    </div>
	</fieldset>
</div>
