<div class="section-signup-form">
  <div class="form-group dropzone dropzone-gallery-form">
      <div id="dropzone-gallery-form-preview" class="dropzone-previews"></div>
      <div id="dropzone-gallery-form" class="dropzone-input">
          <span class="dz-message"><span>Select</span> or drag photos here</span>
      </div>
  </div>
	
	<fieldset>
	    <div class="form-group-wrapper form-group-wrapper-submit">
	        <button class="button button-primary" disabled>Save</button>
	    </div>
	</fieldset>
</div>
