<div class="section-signup-form">
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Where you live</label>
	        <div class="form-group location">
	            <input type="text" name="location" class="form-control autocomplete" required>
	        </div>
	    </div>
      <div class="form-group-wrapper">
          <label class="form-group-label">Date of birth</label>
          <div class="form-group birth">
              <input
                type="text"
                data-mask="birth"
                placeholder="MM/DD/YYYY"
                name="dateOfBirth"
                class="form-control"
                required>
          </div>
      </div>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Sex</label>
	        <div class="form-group">
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="sex" checked>
	                <span>Male</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="sex">
	                <span>Female</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Let your future au pair learn more about you and your family</label>
	        <div class="form-group">
	            <textarea name="about" class="form-control"></textarea>
	        </div>
	    </div>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Children</label>
	        <div class="form-group">
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="children" checked>
	                <span>None</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="children">
	                <span>1</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="children">
	                <span>2</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="children">
	                <span>3</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="children">
	                <span>More</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <div class="form-group">
	            <label class="input-checkbox" data-input-checkbox="true">
	                <input type="checkbox" name="married">
	                <span>I'm married</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">What is your house</label>
	        <div class="form-group">
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="house" checked>
	                <span>Apartments</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="house">
	                <span>House</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="house">
	                <span>Other</span>
	            </label>
	        </div>
	    </div>
			
	    <div class="form-group-wrapper">
	        <div class="form-group">
	            <label class="input-checkbox" data-input-checkbox="true">
	                <input type="checkbox" name="room">
	                <span>Au pair will have a separate room</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Bed for au pair</label>
	        <div class="form-group">
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="bed" checked>
	                <span>Sofa</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="bed">
	                <span>Bed</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="bed">
	                <span>Couch</span>
	            </label>
	            <label class="input-radio" data-input-radio="true">
	                <input type="radio" name="bed">
	                <span>Floor mattress</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">House amenities</label>
	        <div class="form-group">
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="essentials">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Essentials</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="shampoo">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Shampoo</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="drawers">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Closet/drawers</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="dryer">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Hair dryer</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="iron">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Iron</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="wifi">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Wi-Fi</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="desk">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Desk</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="conditioning">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Air conditioning</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="tv">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>TV</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Meals</label>
	        <div class="form-group">
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="breakfast">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Breakfast</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="dinner">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Dinner</span>
	            </label>
	            <label class="input-checkbox-icon" data-input-checkbox="true">
	                <input type="checkbox" name="supper">
	                @@include("inc/icon.html", {"name": "common-location"})
	                <span>Supper</span>
	            </label>
	        </div>
	    </div>
	</fieldset>
	<fieldset class="fieldset-social">
	    <div class="form-group-wrapper">
	        <div class="form-group form-group-icon social">
	            @@include("inc/icon.html", {"name": "social-facebook"})
	            <input type="text" name="facebook" class="form-control">
	        </div>
	    </div>
	    <div class="form-group-wrapper">
	        <div class="form-group form-group-icon social">
	            @@include("inc/icon.html", {"name": "social-twitter"})
	            <input type="text" name="twitter" class="form-control">
	        </div>
	    </div>
	    <div class="form-group-wrapper">
	        <div class="form-group form-group-icon social">
	            @@include("inc/icon.html", {"name": "social-instagram"})
	            <input type="text" name="instagram" class="form-control">
	        </div>
	    </div>
	</fieldset>
	<fieldset>
	    <div class="form-group-wrapper form-group-wrapper-submit">
					<div class="form-group">
		        <button class="button button-primary">Save</button>
		        <button class="button button-secondary">Preview</button>
					</div>
	    </div>
	</fieldset>
</div>
