<div class="account-profile-reviews">
    <div class="column-meta">
        @@include("inc/rating.html", {"reviews": "121", "rating": "4"})
    </div>
    <div class="column-main">
        <div class="list-reviews" data-text-cut="80">
            <div class="list-item">
                <div class="list-item-image">
                    <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                </div>
                <div class="list-item-content">
                    <div class="list-item-name">
                        <a href="profile-aupair.html">Jake Woodrow</a>
                    </div>
                    <div class="list-item-meta">
                        Hosted for 60 days
                    </div>
                    <div class="list-item-text">
                        John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                    </div>
                    <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-image">
                    <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                </div>
                <div class="list-item-content">
                    <div class="list-item-name">
                        <a href="profile-member-aupair.html">Jake Woodrow</a>
                    </div>
                    <div class="list-item-meta">
                        Hosted for 60 days
                    </div>
                    <div class="list-item-text">
                        John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                    </div>
                    <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-image">
                    <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                </div>
                <div class="list-item-content">
                    <div class="list-item-name">
                        <a href="profile-aupair.html">Jake Woodrow</a>
                    </div>
                    <div class="list-item-meta">
                        Hosted for 60 days
                    </div>
                    <div class="list-item-text">
                        John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                    </div>
                    <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                </div>
            </div>
            <div class="list-item">
                <div class="list-item-image">
                    <img src="userdata/profile-man2.jpg" alt="Jake Woodrow">
                </div>
                <div class="list-item-content">
                    <div class="list-item-name">
                        <a href="profile-aupair.html">Jake Woodrow</a>
                    </div>
                    <div class="list-item-meta">
                        Hosted for 60 days
                    </div>
                    <div class="list-item-text">
                        John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time. John is a very pleasant person to deal with. Our son was delighted to spend time with him and we found a good friend. Would be glad to have him any time.
                    </div>
                    <span class="list-item-text-more" data-text-down="+ more" data-text-up="- less"></span>
                </div>
            </div>
        </div>
    </div>
</div>
