<div class="section-signup-form">
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Old password</label>
	        <div class="form-group password">
	            <input type="text" name="old-password" class="form-control" required>
	        </div>
	    </div>
	</fieldset>
	
	<fieldset>
	    <div class="form-group-wrapper">
	        <label class="form-group-label">New password</label>
	        <div class="form-group password">
	            <input type="text" name="password" class="form-control" required>
	        </div>
	    </div>
			
	    <div class="form-group-wrapper">
	        <label class="form-group-label">Confirm new password</label>
	        <div class="form-group password">
	            <input type="text" name="password" class="form-control" required>
	        </div>
	    </div>
	</fieldset>
	
	<fieldset>
	    <div class="form-group-wrapper form-group-wrapper-submit">
					<div class="form-group">
		        <button class="button button-primary">Save</button>
					</div>
	    </div>
	</fieldset>
</div>
