.ui-autocomplete
  padding: 5px 0
  margin: 0
  border-radius: 0 0 2px 2px
  background-color: #ffffff
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.8)
  cursor: default
  z-index: 1000
  +position(absolute, 0, 0)

  li
    padding: 0
    margin: 0

    &:before
      display: none

.ui-menu-item-wrapper
  padding: 0 10px
  line-height: 25px

  &.ui-state-active
    background-color: $color-blue
    color: #fff