button
  cursor: pointer

.button
  vertical-align: top
  display: inline-block
  padding: 0
  border: 0
  border-bottom: 0
  outline: 0
  background: none
  text-decoration: none
  text-align: center
  font-family: $font1
  line-height: 1
  cursor: pointer
  +transition((border-color .15s, background-color .15s, color .15s, transform .15s))
  +user-select(none)

  &[disabled]
    pointer-events: none

/**/

.button-primary
  width: auto
  height: $input-height
  border-radius: 25px
  background-color: $color-green
  padding: 0 20px
  color: #ffffff
  font-size: $font-size
  font-weight: normal
  line-height: $input-height

  &:visited
    color: #ffffff

  &:hover
    color: #ffffff
    background-color: #8ce754

  &:active
    color: #ffffff
    background-color: #8be754
    +transform(scale(.95))

  &.loading
    background: url("#{$img}loader-white.gif") no-repeat center center $color-green
    pointer-events: none
    +hidetext

  &.blue
    background-color: #3b5998

    &:hover
      background-color: #4668b3

    &:active
      background-color: #4668b3

  &.red
    background-color: #ea4335

    &:hover
      background-color: #ff4433

    &:active
      background-color: #ff4433

  &[disabled]
    background-color: #dddddd
    color: $color-text-gray

/**/

.button-secondary
  width: auto
  height: $input-height
  border: 1px solid $color-green
  border-radius: 25px
  padding: 0 20px
  color: $color-green
  font-size: $font-size
  font-weight: normal
  line-height: $input-height - 2

  &:visited
    color: $color-green

  &:hover
    border-color: #8ce754
    color: #8ce754

  &:active
    border-color: #8be754
    color: #8be754
    +transform(scale(.95))

  &.loading
    background: url("#{$img}loader-green.gif") no-repeat center center #fff
    pointer-events: none
    +hidetext

  &[disabled]
    border-color: #dddddd
    color: #dddddd

/**/

.button-dropdown
  position: relative
  
  &__dropdown
    position: absolute
    top: 0
    left: 0
    right: 0
    transition: top 0.3s, opacity 0.3s
    opacity: 0
    z-index: -1
    box-shadow: 0 5px 20px 2px #ddd
    border-radius: 18px
    pointer-events: none
    
  &.show &__dropdown
    top: 0
    z-index: 1
    opacity: 1
    pointer-events: auto
    
  &.show
    background-color: transparent
    
  &__dropdown:hover &__value:first-child
    color: black
    background-color: white
    
  &__dropdown &__value:first-child,
  &__dropdown:hover &__value:hover
    color: #ffffff
    background-color: #8ce754
    
  &__value
    width: 100%
    border-radius: 0
    background-color: white
    color: black
    transform: none !important
    
    &:first-child
      border-radius: 18px 18px 0 0
    
    &:last-child
      border-radius: 0 0 18px 18px
    
  .toggle
    display: block
    width: 34px
    height: 100%
    padding-right: 14px
    background: url("#{$img}arrow-down-white.svg") no-repeat 4px center
    +position(absolute, 0, false, 0)
    
.button-simple
  color: white
  padding: 4px 10px
  border-radius: 2px
  
  &__red
    background-color: $color-red
    transition: background-color 0.3s
    
    &:hover
      background-color: darken($color-red, 10%)
      
  
