.datepick
  overflow: hidden
  position: relative
  float: left

  a
    outline: 0
    color: #ffffff
    text-decoration: none

    &.datepick-disabled
      color: #888888
      cursor: auto

/**/

.datepicker-inline
  .datepick
    box-shadow: none

  .datepick-nav
    margin-top: 0

/**/

.datepicker-from
  .datepick-month
    padding-left: 5px

.datepicker-to
  .datepick-month
    padding-right: 5px

  .ps > .ps__scrollbar-y-rail
    right: auto
    left: 0

/**/

.datepick-nav,
.datepick-ctrl
  width: 100% !important
  height: 60px
  padding: 15px 25px 0
  margin-top: 4px
  background-color: #f5f5f5
  text-align: left
  +position(absolute, 0, 0)
  +zindex(2)

  span
    color: $color1

/**/

.datepick-ctrl

.datepick-cmd

.datepick-cmd-prevJump,
.datepick-cmd-nextJump

a.datepick-cmd

button.datepick-cmd

.datepick-cmd-prev,
.datepick-cmd-prevJump,
.datepick-cmd-clear

.datepick-cmd-current,
.datepick-cmd-today

.datepick-cmd-next,
.datepick-cmd-nextJump,
.datepick-cmd-close

.datepick-month-nav

.datepick-month-nav div

.datepick-month-nav span

.datepick-month-row

.datepick-month
  width: 187px
  padding: 8px 20px 0
  text-align: center

  &.last
    padding-left: 10px

.datepick-month-header,
.datepick-month-header select,
.datepick-month-header input
  padding-left: 5px
  text-align: left
  font-size: 14px
  line-height: 25px

.datepick-month-header select,
.datepick-month-header input

.datepick-month-header input

.datepick-month table
  width: 100%
  border-collapse: collapse

.datepick-month thead

.datepick-month th,
.datepick-month td
  margin: 0
  padding: 0
  font-weight: normal
  text-align: right

.datepick-month th

.datepick-month th,
.datepick-month th a

.datepick-month td
  width: 24px
  height: 24px
  border: 0

.datepick-month td.datepick-week

.datepick-month td.datepick-week *

.datepick-month a
  display: inline-block
  width: 22px
  height: 22px
  border-bottom: 0
  border-radius: 50%
  color: #000000
  font-size: 14px
  line-height: 22px

.datepick-month span
  display: inline-block
  width: 22px
  height: 22px
  border-bottom: 0
  border-radius: 50%
  color: #000000
  font-size: 14px
  line-height: 22px

.datepick-month td span
  color: rgba(#000, .5)

.datepick-month td .datepick-other-month

.datepick-month td .datepick-weekend

.datepick-month td .datepick-today
  color: $color-red

.datepick-month td .datepick-highlight
  color: $color-blue

.datepick-month td .datepick-selected
  position: relative
  color: #ffffff

.datepick-month td .datepick-selected:before
  content: ""
  position: absolute
  width: 100%
  height: 100%
  background-color: $color1
  left: 3px
  border-radius: 50%
  z-index: -1

.datepick-month th.datepick-week
  background-color: #777777
  color: #ffffff

.datepick-status

.datepick-clear-fix