form
  margin: 0

fieldset
  margin: 20px 0 0
  padding: 0
  border: 0
  +clearmarginfirst(top)

/**/

.form-group
  position: relative
  margin-top: 10px
  
.form-language-row
  +clearfix
  margin-top: 10px
  
  &:first-child
    margin-top: 0
    
.form-language-name
  width: 50%
  float: left
  
.form-language-level
  width: 45%
  float: right
  
.form-language-add
  position: absolute
  text-decoration: none !important
  text-align: center
  right: -43px
  bottom: 0
  border-bottom: 0
  
  &:hover
    fill: $color-red
    
.form-language-add svg
  display: block

.form-group-icon
  .icon
    vertical-align: middle
    width: 26px
    height: 26px
    margin-top: 4px
    margin-left: -32px
    +position(absolute, 0, 0)

  +bp($screen-xs, max)
    margin-left: 28px

/**/

.form-submit
  margin-top: 10px

/**/

.form-group .placeholder
  opacity: 0
  display: inline-block
  padding: 2px 10px
  margin-left: 10px
  border-radius: 4px
  background-color: #ffffff
  font-size: 12px
  font-weight: 400
  +position(absolute, 10px, 0)
  +zindex(4)

/**/

.form-group label.error
  color: $color-red
  font-size: 14px
  line-height: 1.5
  +position(absolute, 100%, 0)
  
.form-group .text-count-wrapper
  position: absolute
  right: 10px
  bottom: 10px
  font-size: 15px
  color: $color-text-gray
  
@media (max-width: 800px)
  .form-language-add
    bottom: -40px
    right: 2px
  
@media (max-width: 580px)
  .form-language-name, .form-language-level
    width: 100%
    margin-bottom: 5px
