.form-control
  display: inline-block
  vertical-align: top
  width: 100%
  height: $input-height
  padding: 0 10px
  border: 0
  border-bottom: 1px solid $color-text
  border-radius: 2px 2px 0 0
  outline: 0
  background-color: #f5f5f5
  color: $color-text
  font-family: $font1
  font-size: $font-size
  line-height: $input-height
  +transition((background-color .15s, border-bottom-color .15s))
  +placeholder($color-text-gray)

  &:hover
    background-color: $color-gray

  &:focus
    border-bottom-color: $color-blue
    background-color: #f5f5f5

  &.error
    border-bottom-color: $color-red

    &:focus
      border-bottom-color: $color-red
      background-color: #f5f5f5

  &.transparent
    padding: 0 4px
    background-color: #fff

    &:hover
      background-color: #fff

    &:focus
      background-color: #fff

    &.error
      &:focus
        background-color: #fff

  &.datepicker
    background-image: url("#{$img}calendar.svg")
    background-repeat: no-repeat
    background-position: 100% 3px
    cursor: pointer
    
  &.datepicker span
    display: inline-block

textarea.form-control
  height: 110px
  padding-top: 10px
  resize: vertical
  line-height: $line-height