.input-radio
  vertical-align: top
  display: inline-block
  margin-left: 5px
  cursor: pointer
  +clearmarginfirst(left)
  +user-select(none)

  input
    display: none

  span
    vertical-align: top
    display: inline-block
    height: $input-height
    padding: 0 5px
    color: $color-blue
    border-bottom: 1px solid transparent
    line-height: $input-height

  &:hover
    span
      background-color: $color-gray

  &.checked
    span
      border-bottom-color: $color-text
      color: $color-text