.input-number
  font-size: 0

  .form-control
    vertical-align: top
    width: 60px
    text-align: center

/* Controls */

.input-number-control
  vertical-align: top
  display: inline-block
  width: 40px
  height: $input-height
  border: 1px solid $color-green
  border-radius: 2px
  background-color: #ffffff
  text-align: center
  font-size: 16px
  line-height: 1
  cursor: pointer
  +user-select(none)

  &:hover
    background-color: $color-green
    color: #fff
    
  &.disabled
    cursor: default
    border-color: #ccc !important
    color: #ccc !important
    
  &.disabled:hover
    border-color: #ccc !important
    background-color: transparent !important
    color: #ccc !important
