.input-file
  vertical-align: top
  display: inline-block
  width: 100%
  height: 50px
  border: 0
  outline: 0
  color: $color-gray
  text-align: center
  font-size: 14px
  cursor: pointer
  line-height: 50px
  +transition(all .3s ease)

  &:hover,
  &:active,
  &:focus
    color: #d27300

  .icon
    vertical-align: -7px

  span
    margin: 0 40px 0 20px

  input
    opacity: 0
    overflow: hidden
    position: absolute
    width: 0.1px
    height: 0.1px
    z-index: -1

.input-file-content
  text-align: right

  div
    font-size: 12px

.input-file-remove
  margin-left: 10px
  font-size: 12px