.input-checkbox
  vertical-align: top
  display: inline-block
  cursor: pointer
  line-height: $input-height
  +user-select(none)

  input
    display: none

  span
    vertical-align: middle
    display: inline-block

  &:before
    content: ""
    vertical-align: middle
    display: inline-block
    width: 28px
    height: 24px
    margin-right: 5px
    border-bottom: 1px solid
    border-radius: 2px 2px 0 0
    background-color: #f5f5f5
    text-align: center
    line-height: 24px

  &:hover
    &:before
      background-color: $color-gray

  &.checked
    &:before
      content: url("#{$img}check-white.svg")
      border-bottom-color: transparent
      border-radius: 2px
      background-color: $color-blue

  &.vertical
    text-align: center
    span
      display: block
      line-height: 1.5
    &:before
      margin-right: 0

/**/

.input-checkbox-toggler
  position: relative
  vertical-align: top
  display: inline-block
  cursor: pointer
  +user-select(none)

  input
    display: none

  span
    vertical-align: middle
    display: inline-block

  &:before
    content: ""
    vertical-align: middle
    display: inline-block
    width: 70px
    height: 24px
    margin-right: 10px
    border-radius: 20px
    background-color: #dddddd
    line-height: 24px

  &:after
    content: ""
    display: block
    width: 20px
    height: 20px
    margin-top: 2px
    margin-left: 2px
    border-radius: 50%
    background-color: #ffffff
    +position(absolute, 0, 0)
    +transition(transform .15s)

  &:hover
    &:before
      background-color: #e3e3e3

  &.checked
    &:before
      background-color: $color-blue

    &:after
      background-color: #ffffff
      +transform(translateX(46px))

/**/

.input-checkbox-icon
  position: relative
  vertical-align: top
  display: inline-block
  width: 160px
  padding-left: 25px
  cursor: pointer
  line-height: $input-height
  +user-select(none)

  input
    display: none

  span
    vertical-align: middle
    display: inline-block
    color: $color-blue

  .icon
    width: 20px
    height: $input-height
    +position(absolute, 0, 0)

  &:hover

  &.checked
    background: url("#{$img}check-black.svg") no-repeat left center

    span
      color: $color-text

    .icon
      display: none

.input-checkbox-light
  height: 24px
  padding-right: 10px
  line-height: 24px
  border-radius: 3px
  +bgrgba($color-text, .5)

  &:before
    vertical-align: top

  span
    vertical-align: top
    color: #fff