.heading
  display: block

  &:first-child
    margin-top: 0

/**/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  display: block
  margin-top: 0
  margin-bottom: 0
  font-family: $font2
  line-height: 1

h1, .h1
  margin-top: 10px
  margin-bottom: 5px
  color: $color-text
  font-weight: normal
  font-size: 48px
  line-height: 52px
  
  +bp($screen-sm, max)
    text-align: left

h2, .h2
  margin-top: 40px
  margin-bottom: 25px
  color: $color-text
  font-weight: normal
  font-size: 30px
  line-height: 40px

  +bp($screen-sm, max)
    text-align: left
    font-size: 22px
    line-height: 30px

h3, .h3
  margin-top: 40px
  margin-bottom: 25px
  color: $color-text
  font-weight: normal
  font-size: 30px

h4, .h4,
h5, .h5,
h6, .h6
  margin-top: 20px
  color: $color-text
  font-weight: bold
  font-size: $font-size
  font-family: $font1

/**/

.heading-sub
  color: $color1
  font-family: $font1
  font-size: 14px
  font-weight: 300
  line-height: 1.3
  text-transform: uppercase
  letter-spacing: 2px