img
  vertical-align: top
  max-width: 100%
  border: 1px solid rgba(#000, .08)

  &.alignleft
    display: block
    margin: 0 auto

    +bp($screen-xs)
      float: left
      margin: 0 30px 20px 0

  &.alignright
    display: block
    margin: 0 auto

    +bp($screen-xs)
      float: right
      margin: 0 0 20px 30px

  &.aligncenter
    display: block
    margin: 0 auto

figure
  margin: 20px 0

figcaption
  padding-top: 10px
  text-align: center
  font-size: $font-size - 2

.icon
  display: inline-block
  stroke-width: 0
  stroke: currentColor
  fill: currentColor
  +transition((fill .15s, transform .3s))