a,
.link
  border: 0
  border-bottom: 1px solid rgba($color-blue, .3)
  color: $color-blue
  text-decoration: none
  cursor: pointer

  &:visited
    color: rgba($color-blue, .5)

  &:hover,
  &:active
    border-bottom-color: rgba($color-red, .3)
    color: $color-red

.link-image,
.lb-close
  border-bottom: 0
  text-decoration: none

.link-icon
  border-bottom: 0

  span
    vertical-align: middle
    display: inline-block
    margin-right: 4px
    border-bottom: 1px solid rgba($color-blue, .3)

  .icon
    vertical-align: middle

  &:hover,
  &:active
    span
      border-bottom-color: rgba($color-red, .3)

.link-pseudo
  border-bottom: 1px dashed
  
.link-no-style
  display: inline-block
  border: 0
  color: #000000
  
  &:visited
    color: #000000
