.alert
  padding: 20px 30px
  border: 1px solid

.alert-success
  border-color: $color-green
  color: $color-green

.alert-info
  border-color: $color-blue
  color: $color-blue

.alert-warning
  border-color: $color-yellow
  color: $color-yellow

.alert-danger
  border-color: $color-red
  color: $color-red
