.breadcrumbs
  margin-bottom: 15px
  text-align: center
  font-size: 12px
  font-family: $font2

  +bp($screen-lg)
    text-align: left

  .separator
    vertical-align: 1px
    display: inline-block
    width: 8px
    height: 5px
    margin: 0 5px
    text-align: center
    background: url("#{$img}arrow-breadcrumbs.png") no-repeat
      
.breadcrumbs-back
  margin-top: 10px
  font-size: 14px

  .icon
    vertical-align: -2px
    margin-right: 10px
    color: #000000
    +transform(rotate(180deg))
