.slick-slider
  position: relative

.slick-list
  overflow: hidden

.slick-track

.slick-slide
  float: left
  outline: 0

/**/

.slick-arrow
  position: absolute
  top: 45%
  width: 30px
  height: 44px
  border: 0
  outline: 0
  padding: 0
  background: none
  cursor: pointer
  +transition(transform .15s)
  +zindex(1)
    
  @media (min-width: 1024px)
    > svg
      opacity: 0
      transition: opacity 0.15s
      
    &:hover > svg
      opacity: 1

  &.slick-prev
    display: block
    left: 0
    top: 0
    bottom: 0
    right: 50%
    height: auto
    width: 50%
    text-align: left
    padding-left: 30px
    
    &:hover
      +transform(translateX(-3px))

  &.slick-next
    display: block
    left: 50%
    top: 0
    bottom: 0
    right: 0
    height: auto
    width: 50%
    text-align: right
    padding-right: 30px

    &:hover
      +transform(translateX(3px))

  &.slick-disabled
    opacity: 0

/**/

.slick-dots