.menu-toggle
  display: block
  width: 21px
  height: 20px
  margin-top: 15px
  margin-left: 20px
  cursor: pointer
  text-indent: -9999px
  +position(absolute, 0, 0)
  +transform(translateX(0px))
  +transition(transform .5s ease-in-out)

  &.active
    position: fixed
    margin-top: 35px
    +transform(translateX(260px))
    +zindex(7)

  +bp($screen-md)
    display: none

/**/

.menu-header
  .menu-item
    position: relative
    display: inline-block
    margin-right: 15px
    border-bottom: 0
    color: $color-text
    line-height: 11px
    padding: 6px 3px
    white-space: nowrap
    
    &:last-child
      margin-right: 0
      
    .menu-item.popup-active
      background-color: #eee
      
    @media (max-width: 500px)
      margin-right: 18px
      
  .popup-wrapper .menu-item
    margin-right: 0
    
  .popup-wrapper
    margin-right: 15px
    display: inline-block
    
  .menu-item.popup-active
    background-color: #eee

  a.menu-item
    &:hover
      color: $color-red

  span.menu-item,
  .menu-item.active
    color: $color1

  .menu-sub
    display: block
    position: absolute
    .menu-item
      display: inline-block
      margin-right: 15px
      border-bottom: 0
      color: $color-text
      line-height: 24px

      &:last-child
        margin-right: 0

    a.menu-item
      &:hover
        color: $color-red

    span.menu-item,
    .menu-item.active
      color: $color1

/**/

.menu-profile
  +clearfix
    
  .menu-item
    display: inline-block
    margin-left: 15px
    border-bottom: 0
    color: $color-text
    +clearmarginfirst(left)
    line-height: 24px
    padding: 6px 3px

    &.inbox
      &:after
        content: ""
        vertical-align: 1px
        display: inline-block
        margin-left: 5px
        background-color: #29fa50
        +circle(6px)

  a.menu-item
    &:hover
      color: $color-red

  span.menu-item,
  .menu-item.active
    color: $color1
    
  > .menu-item
    line-height: 11px

.menu-profile-image
  float: left
  +circle(42px)

.menu-profile-name
  display: block
  font-weight: bold
  line-height: 20px

  a
    border-bottom: 0
    color: $color-text
    padding-left: 3px

    &:hover
      color: $color-red

/**/

.menu-countries
  .menu-item
    display: block
    border-bottom: 0
    color: $color-text
    +clearmarginfirst(left)

  a.menu-item
    &:hover
      color: $color-red

  span.menu-item,
  .menu-item.active
    color: $color1

/**/

.menu-footer
  .menu-item
    display: block
    border-bottom: 0
    color: $color-text
    +clearmarginfirst(left)

  a.menu-item
    &:hover
      color: $color-red

  span.menu-item,
  .menu-item.active
    color: $color1
    
.menu-profile-image:hover ~ .menu-profile-name > a
  color: $color-red
    
@media (min-width: 480px)
  .menu-profile-image
    margin-right: 10px
    
  .menu-profile-name
    padding-left: 55px
    margin-bottom: -5px
    
  .menu-profile-content-container
    white-space: nowrap
    padding-left: 55px
    
@media (max-width: 479px)
  .menu-profile .menu-item
    display: block
    margin-left: 0 !important
    text-align: right
    
  .menu-highlighted.menu-profile .menu-item
    text-align: left
    
  .menu-profile-content
    width: 100%
    
  .menu-profile-content-container
    display: inline-block
    
  .menu-profile-content
    text-align: right
    display: inline-block
