.menu-pages
  overflow-y: auto
  width: 200px
  height: 100%
  padding-bottom: 40px
  border-right: 1px solid #000000
  background-color: #ffffff
  box-shadow: 0 0 5px rgba(#000, .5)
  +transform(translateX(-200px))
  +transition(transform .3s)
  +position(fixed, 0, 0)
  +zindex(10)

  .menu-item
    display: block
    height: 40px
    padding: 0 20px
    border-bottom: 1px solid #000000
    background-color: #ffffff
    color: #000000
    font-weight: normal
    font-size: 14px
    line-height: 40px

    &:hover
      background-color: #dddddd

    &.active
      background-color: #dddddd

    &.separator
      border-top: 1px solid #000000

  &.active
    +transform(translateX(0px))

.menu-pages-toggle
  height: 40px
  padding: 0 20px
  margin-top: 20px
  border: 1px solid #000000
  border-left: 0
  background-color: #ffffff
  color: #000000
  font-weight: bold
  font-size: 14px
  line-height: 40px
  cursor: pointer
  +transform(translateX(-5px))
  +transition(transform .3s)
  +position(fixed, 0, 0)
  +zindex(9)

  &:hover
    +transform(translateX(0px))

  &.active
    +transform(translateX(200px))