.popup-wrapper
  position: relative

/**/

.popup-button

/**/

.popup
  display: none
  margin: 0 auto
  border-radius: 2px
  background-color: #ffffff
  box-shadow: 0 10px 20px rgba(200, 200, 200, 0.8)
  -webkit-overflow-scrolling: touch
  +position(absolute, false, 0, 0)
  +zindex(10)

  &.active

/**/

.popup-content

/**/

.popup-login
  margin-top: 0
  margin-left: 0
  right: auto
  padding-right: 45px
  
  &__link-container
    margin-bottom: 5px
    
  &__link
    white-space: nowrap
    
  .menu-item
    background-color: #eee
    
  .popup-content-inner
    padding: 18px 8px
    

/**/

.popup-filters
  width: 340px
  margin-top: -40px
  margin-right: -2px
  right: 0
  overflow: auto
  
  
  &__applied
    position: relative
    
  &__applied:before
    content: ''
    position: absolute
    right: -2px
    top: 1px
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: $color-red
  
  .form-group.age
    display: flex
    
  .form-group.age input
    width: 70px
    
  .form-group.age .delimeter
    margin: 0 10px
    vertical-align: middle
    line-height: 36px
    
  .form-group-wrapper
    margin-bottom: 15px

  .popup-content
    padding: 5px 10px 15px

  .popup-close
    text-align: right

    .button
      color: $color-text !important
      vertical-align: middle
      
    .button svg
      display: block
      
  .popup-filters-reset
    border: 0
    margin-right: 13px

  .form-group
    margin-top: 5px
    
  fieldset.language
    margin-bottom: -12px
    
.popup-filters.host
  width: 720px
  
  .input-number button
    border-color: lighten($color-blue, 10%)
    
    &:hover
      background-color: lighten($color-blue, 10%)
      color: white
  
  .popup-close
    margin-bottom: -11px
  
  .form-group-row
    display: flex
    
  .form-group-row fieldset:first-child
    width: 46%
    margin-right: 6.5%
    margin-top: 20px
    
  .form-group-row--labels fieldset:first-child
    width: 72%
    
  .form-group.name .form-control
    max-width: 320px
    
  .form-group.children .form-control
    max-width: 50px
    text-align: center
    
@media (max-width: 1024px)
  .popup-filters.host
    width: 320px
    
    .form-group-row
      display: block
      
    .form-group-row fieldset, .form-group-row fieldset:first-child
      width: 100%
      margin-right: 0
  
/**/

.popup-datepicker
  width: 375px
  margin-left: 0
  
  @media (max-width: 500px)
    transform: scale(0.77)
    transform-origin: 0px 0px 0px

  .popup-content
    +clearfix

  .popup-header
    padding: 20px 10px 2px
    background-color: #f5f5f5
    text-align: left
    font-size: 0
    line-height: 1

    .heading
      font-weight: bold
      font-size: 16px

    .date
      visibility: hidden
      display: inline-block
      width: 50%
      font-size: 16px
      line-height: 1.4

      &:last-child
        padding-left: 22px

      span
        color: $color1

  .datepicker
    float: left
    height: 400px

  .datepick
    position: relative
    height: 400px
    +zindex(10)

/**/

.popup-request
  margin-top: -60px
  width: auto
  transform: none
  
  .form-group-wrapper
    margin-bottom: 15px
  
  @media (min-width: 600px)
    width: 480px
    left: 50%
    transform: translateX(-50%)
    
    .form-group-row
      display: flex
      justify-content: space-between
    
    .form-group-row .form-group-wrapper
      width: calc(50% - 10px)
  
  .popup-header
    background-color: white
    margin-bottom: -6px

  .form
    clear: left
    padding: 15px 10px 40px
    text-align: left

  .form-group
    margin-top: 0

  .form-submit
    margin-top: 30px
    text-align: center

  .popup-button
    width: 160px

  label
    line-height: 2

/**/

.popup-review
  width: 340px
  padding: 10px 20px
  margin-top: -45px
  text-align: left

  .form-group
    margin-top: 15px

  .form-submit
    margin-top: 30px
    text-align: center
    +justify

    .button
      width: 145px
      
/**/

.popup-language
  right: auto
  white-space: nowrap
  
  &__icon
    display: inline-block
    width: 25px
    vertical-align: middle
    
  &__icon svg
    display: block
    
  &__wrapper
    font-weight: normal
    float: right
    text-align: left
    
  &__content
    padding: 18px 8px
    
  &__link-container
    margin-bottom: 5px
    
  &__link-container:last-child
    margin-bottom: 0
    
  &__name
    vertical-align: middle
    
  &__link
    position: relative
    border-bottom: 0
    color: #000
    top: -3px
    
    &:visited
      color: #000
      
    &:hover
      color: #ea3403
      
.menu-profile > .popup-language__container
  display: inline-block
      
.menu-profile > .popup-language__container .popup-language__wrapper
  float: none
  display: inline-block
  margin-right: 15px
  
.menu-profile > .popup-language__container .popup-language__link
  top: -2px
  
@media (max-width: 479px)
  .menu-profile > .popup-language__container
    display: block
    text-align: right
    
  .menu-profile > .popup-language__container .popup-language__wrapper
    margin-right: 0
