.tabs-controls
  width: 100%
  text-align: center
  margin-top: 10px
  line-height: 28px

.tabs-control
  text-decoration: none
  border-bottom: 0
  color: black
  margin-right: 20px
  font-size: 20px
  
.tabs-control.active
  color: $color1

.tabs-contents
  margin-top: 35px
  
.tabs-content
  display: none
  
.tabs-content.active
  display: block
